

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #231F20;
  border-radius: 1px;
}

.navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 20px;
}

#text-slider{
	clear:both;
	min-height:400px;
	background-image:url("../img/bg.jpg");
	padding-top:150px;
}

#ak-slide-zone{
	display:block;
	list-style-type:none
}

.ak-slide{color:#ddd;display:none}

.ak-slide h2,.ak-slide h4{text-align:center;}

.ak-slide-jump-butn{
	height:16px;
	background:rgba(0,0,0,0.5);
	width:16px;
	border-radius:8px;
	display:inline-block;
	margin:5px 7px 0;
	cursor:pointer;
	padding: 4px;
	transition:all 0.35s ease-out;
}

.ak-slide-jump-circle{
	height:8px;
	width:8px;
	border-radius:4px;
	background:#aaa;
}

.ak-slide-jump-butn:hover{
	background:rgba(50,50,70,0.4);
	border-color:#f77;
}

#ak-jumper-block{
	text-align:center;
	margin:30px 0;
	padding:0 2%;
}

@media (min-width: 768px){
	.navbar-nav>li>.dropdown-menu {
		position:fixed;
		text-align:center;
		width:100%;
		background: #454545;
	}

	.dropdown-menu>li{
		display:inline-block;
		
	}

	.dropdown-menu>li>a{
		color:#999;
	}
	

	.navbar-nav {
		margin-left: 24%;
	}
	
	.navbar-nav>li>a{
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
		color: #bbb;
		margin-top:10px;
		
	}
	
	.nav>li>a:hover, .nav .open>a:hover, .nav .open>a:focus {
		background: none;
	}
	
    /*#ak-header{
		border-bottom: 1px solid #E9E9E9;
	}*/
	
	
}
