

/* ==========================================================================
   Author's custom styles
   ==========================================================================   */
@font-face {
    font-family: neosans;
    src: url(../fonts/NEOSANS.OTF);
}
@font-face {
    font-family: gillsansmtpro;
    src: url(../fonts/GILLSANSMTPRO-BOOK.OTF);
}

body{
	font-family:gillsansmtpro;
	font-size:20px;
}
   
h1,h2,h3,h4,h5,h6{
	font-family: neosans;
	line-height:1.3em;
}

ul,li{list-style-type:none;margin:0;padding:0}

.red{color:#EE5146;}
.bg-red{background:#b48787;}
.bg-dark{background:#333;}

p{
	font-size:19px;
}

.no-border{border:none !important;}

.navbar-brand{
	    padding-left: 25px !important;
}

.navbar-nav {
	margin-left: 24%;
}

#ak-header li>a{
	font-family: neosans;
	font-size:16px;
	transition:all 0.4s ease-out;
}

#ak-header li>a:focus,#ak-header nav .open>a {
    text-decoration: none;
    background-color: transparent !important;
}

#ak-header li>a:hover,#ak-header li>a:active {
    text-decoration: none;
    background: transparent !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color:transparent !important;
	color: #fff;
}

.text-breaker{
	display:block;
	float:none;
	width:100%;
}

.gray-4{color:#444}
.gray-5{color:#555}
.gray-6{color:#666}
.gray-7{color:#777}
.gray-8{color:#888}
.gray-a{color:#aaa}

.underline{text-decoration:underline}
.bottom-border{border-bottom:1px solid #aaa;padding-bottom:3px;display:inline-block}

.container>h2,.container>h3,.container>h3,.container>li>h2{
	margin-bottom:0px;
}

#ak-header{
	background:#fff;
	border-bottom: 1px solid #EBEBEB;
}

.ak-gray-bg{
	background: #f6f6f6;
}

.horz-split-1x,.horz-split-dark-1x{
	width:100%;
	text-align:center;
}

.horz-split-1x>span,.horz-split-dark-1x>span{
	display:inline-block;
	width:300px;
	height:1px;
	background:#ededed;
}

.horz-split-dark-1x>span{
	background:#ccc;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #231F20;
  border-radius: 1px;
}

.navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 20px;
}

.call-to-action-demo{
	margin:60px 40px;
}

.ak-container{
	padding-top:30px;
	padding-bottom: 30px;
}

#text-slider{
	clear:both;
	min-height:400px;
	padding-top:120px;
}

#ak-slide-zone h1{font-size: 50px;}

#ak-slide-zone p{font-size:25px;}

#ak-slide-container{
	display:block;
	list-style-type:none;
	min-height:500px;
	text-align:left;
	padding-bottom: 40px;
}

.ak-slide{color:#555;display:none}

#slide-jumper-sec .ak-jumper-block{
	margin:15px 0 15px;
}

.ak-slide-jump-butn{
	height:8px;
	border:1px solid rgba(0,0,0,0.8);
	width:8px;
	border-radius:4px;
	display:inline-block;
	margin:5px 7px 0;
	cursor:pointer;
	transition:all 0.35s ease-out;
}

.ak-slide-jump-butn:hover{
	background:#444;
}

.ak-jump-active,.ak-hovered-jumper{
	background:#000;
}

.ak-slide-jump-butn:hover{
	background:rgba(50,50,70,0.4);
}

#ak-jumper-block{
	text-align:center;
	padding:0 2%;
	margin-top: -40px;
	margin-bottom:40px;
}

.btn-primary:hover{
	background:#999;
}

.ak-btn-round{
	border-radius:20px;
}

.btn{font-family: neosans;}

.botton-red{
	background:#EE5146;
	border:none;
	padding:10px 40px;
}

.uppercase{
	text-transform:uppercase;
}

.half-block-container{
	margin:10px 0 70px;
	text-align:left;
}

.half-block-container>li,.half-block-container>div{
	//width:50%;
	//float:left;
}

#ak-radar-zone{ margin: 40px 0 10px;}

#ak-dotted-circle{
	margin-top:30px;
}

#ak-cellphone-14 {
    position: relative;
    margin-top: 30px;
    max-width: 150px;
	margin-left: -64%;
}

#head-txt-14{
	margin-top:14%;
}

.side-icon{width:90%;max-width:300px;margin:0 auto;}

.user-comments{
	font-size:1.0em;
	color:#888;
	max-width:700px;
	margin:30px auto;
	min-height:80px;
}

#testimony-selector{
	width:70%;
	max-width:600px;
	margin:10px auto;
}

.horz-select-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:1px;
	background:#bbb;
}

.horz-selected-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:2px;
}

.horz-selected-span>span{
    width:10%;
	margin-top:-1px;
	height:2px;
	display:block;
	background:#aaa;
}

.logos-box{
	margin-top:30px;
}

.logos-box>li{
	width:130px;
	display:inline-block;
	margin:10px 20px;
	
}

.logos-box>li>img{width:100%;opacity:0.6;transition: all 0.3s ease-out;}
.logos-box>li>img:hover{opacity:1}

#contact-form-holder{
	width:90%;
	margin:20px auto;
	max-width:800px;
}

#contact-form-holder textarea, #contact-form-holder input[type=text],#contact-form-holder input[type=email]{
	border:1px solid #eaeaea;
	margin:15px auto;
	box-shadow:none;
}

#contact-form-holder textarea{
	margin: 40px 0px;
}

.ak-checkbox-pannel>li{
	text-align:left;
	margin-top:30px;
}

.ak-cb-depth{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}

.ak-cb-depth-inner{
	width:15px;
	height:15px;
	background:#ccc;
	vertical-align:middle;
}

.ak-cb-title{
	display:inline-block;
	margin-left:7%;
	
}

#ak-dotted-circle {
  animation-duration: 14s;
  animation-name: radarrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 90%;
  max-width:400px;
}

#scan-process-list{
	padding-top:90px;
}

#scan-process-list > li,.innerZoneScan{
	width:32%;
	max-width:380px;
	display:inline-block;
	vertical-align:top;
	padding:20px 1.5%;
}

#radar-list-block{margin-left:5px;}

#radar-list-block>span{display:none;font-size:1em;border-bottom:1px solid #EE5146;padding-bottom:2px}

.innerZoneScan{
	text-align:left;
}

#radar-img-zone{margin-bottom:60px;}

#scan-process-list .icon{
	max-width:70px;
	widtH:100%;
	background: #FFF;
}

#scan-process-list .desc-text{
	background: #FFF;
}

#scan-process-list .desc-title{
	background: #FFF;
}
#scan-process-list .title{
	background: #FFF;
}

#uploadAppZone{margin-top:110px;}

#SASTZone .icon{margin-left:-90px;}

#SASTZone .title{margin-top:-70px;}

#DASTZone .title{margin-top:-10px;}

#DASTZone .icon{margin-top:-80px;margin-left:200px}

#scReportZone{display:block !important;margin:30px auto}

#UBAZone{width:100% !important;padding:0;max-width:100% !important;text-align:right}

#whySheildZone{
	margin-top:130px;
}

#awards-box{margin:-30px 0 80px 0;}

#awards-box>li{margin-top:50px;margin-bottom:20px}

.awards-image{text-align:center}

.awards-image>img{
	text-align:center;
	width:170px;
	height:170px;
	border-radius:85px;
	opacity:0.8;
	transition:all 0.35s ease-out;
}

.awards-image>img:hover{opacity:1;border-radius:45px;}

.why-appknox{text-align:left}

.why-appknox h2{text-align:center}

.contact-us-block{padding-top:80px;padding-bottom:80px;}

#footer-form input{display:inline-block}

.footer-links{text-align:center;font-size:1.2em}
.footer-links a{display:inline-block;margin-left:30px;margin-top:10px;}

@keyframes radarrotate {
  from {
    m-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg); 
  }

  to {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

#site-footer{
	background:#333;
	padding:20px 0;
	color:#9d9d9d;
}

#site-footer input[type=email]{
	border:none;
	background:#444;
	padding:8px 2%;
	width:66%;
}

#site-footer .container>div{
	padding:10px 3%;
	border-bottom:1px solid #444;
}

.footer-titles{
	color:#C0C0C0;
	margin:15px 0%;
	font-size:0.9em;
}

.footer-article{
	margin:5px 0 40px 0;
}

.footer-article p{
	font-size:0.9em;
	color:#767676;
}

.news-title{font-size:0.8em;}

#footer-subscribe-butn{
	background: #555;
    color: #aaa;
    border: none;
    padding: 10px 12px;
    border-radius: 15px;
    font-size: 0.9em;
    margin: 10px 10px;
}

#footer-subscribe-butn:hover{
	color:#fff;
}

.adress-text{
	font-size:0.9em;
	margin-top:20px;
}
#footer-form{margin-bottom:40px;}
#footer-form h3{display:inline-block;width:38%}
#footer-form form{display:inline-block;width:60%;}


@media (min-width: 768px){
	.navbar-nav>li>.dropdown-menu {
		position:fixed;
		text-align:center;
		width:100%;
		background: #454545;
	}

	.dropdown-menu>li{
		display:inline-block;
		
	}

	.dropdown-menu>li>a{
		color:#999;
	}
	
	.navbar-nav>li>a{
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
		color: #999;
		margin-top:10px;
		
	}
	
	.nav>li>a:hover, .nav .open>a:hover, .nav .open>a:focus {
		background: none;
	}
	
    /*#ak-header{
		border-bottom: 1px solid #E9E9E9;
	}*/
	
	
}

@media (max-width: 990px){
	.navbar-nav {
		margin-left: 5%;
	}
}

@media (max-width: 760px){
	#text-slider {
		padding-top: 60px;
	}
	
	#ak-slide-zone{
		text-align:center;
	}
	

	#ak-slide-zone h1{
		font-size:35px;
	}
	#head-txt-14{
		font-size:30px;
	}
	
	#scan-process-list > li {
		width:48%;
	}
	
	#UBAZone{width:48% !important;}
	
	.innerZoneScan{width:100%;}
	
	#DASTZone .icon {
		margin-top: -40px;
		margin-left: 120px;
	}
	
	#DASTZone .title {
		margin-top: -30px;
	}
	
	#ak-radar-zone {margin-bottom:10px; margin-top:30px}
	

}

@media (max-width: 600px){
	.half-block-container>li{
		float:none;
		text-align:center;
		width:100%;
	}
	
	#head-txt-14 {margin-top:4%}
}

@media (max-width: 480px){
	.slide-img-zone{
		display:none;
	}
	#ak-slide-container{
		min-height:0;
		text-align:center;
	}
	
	
	#scan-process-list > li {
		width:98%;
	}
	
	#UBAZone{width:98% !important;}
	
	.innerZoneScan{width:100%;}
	
	#DASTZone .icon {
		margin-top: -40px;
		margin-left: 120px;
	}
	
	#DASTZone .title {
		margin-top: -30px;
	}
	
	#head-txt-14 {
		margin-top: 2%;
	}
	.half-block-container {
		margin-bottom:10px;
	}
	
	#scan-process-list {
		padding-top: 10px;
		text-align:center;
	}
	
	#scan-process-list .icon {
		margin: 0 auto;
	}
	
	#uploadAppZone {
		margin-top: 30px;
	}
	
	#whySheildZone{
		margin-top:0px;
	}
	
	#SASTZone .title {
		margin-top: 0;
	}
	
	#DASTZone .title {
		margin-top: 0px;
	}
	.innerZoneScan {
		text-align: center;
	}
	
	.why-appknox{text-align:center}
	
	
	#radar-list-block{margin-left:0px;}

}

