

/* ==========================================================================
   Author's custom styles
   ==========================================================================   */
@font-face {
    font-family: neosans;
    src: url(../fonts/NEOSANS.OTF);
}
@font-face {
    font-family: gillsansmtpro;
    src: url(../fonts/GILLSANSMTPRO-BOOK.OTF);
}

body{
	font-family:gillsansmtpro;
	font-size:20px;
  color:#444;
}

a{color:#000;}

h1,h2,h3,h4,h5,h6{
	font-family: neosans;
	line-height:1.3em;
}

ul,li{list-style-type:none;margin:0;padding:0}

.red{color:#EE5146;}
.bg-red{background:#b48787;}
.bg-dark{background:#333;}

.small-font{font-size: 0.9em}
.medium-font{font-size:1.1em}
.big-font{font-size:1.3em}
.large-font{font-size:1.5em;}

.midsize-container{
  width:95%;
  padding:0 2.5%;
  max-width:700px;
  margin:0 auto;
}

.block-breaker{display: block !important}

.block{ display:block}

.info-para{
  padding:30px 2%;
}

p{
	font-size:19px;
}

#first-container,#about-us{padding-top:90px}

.no-border{border:none !important;}

.navbar-brand{
	    padding-left: 25px !important;
}

.navbar-nav {
	margin-left: 24%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#ak-header li>a{
	font-family: neosans;
	font-size:16px;
	transition:all 0.4s ease-out;
}

#ak-header li>a:focus,#ak-header nav .open>a {
    text-decoration: none;
    background-color: transparent !important;
}

#ak-header li>a:hover,#ak-header li>a:active {
    text-decoration: none;
    background: transparent !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color:transparent !important;
	color: #fff;
}

.text-breaker{
	display:block;
	float:none;
	width:100%;
}

.gray-4{color:#444}
.gray-5{color:#555}
.gray-6{color:#666}
.gray-7{color:#777}
.gray-8{color:#888}
.gray-9{color:#999}
.gray-a{color:#aaa}

.underline{text-decoration:underline}
.bottom-border{border-bottom:1px solid #aaa;padding-bottom:3px;display:inline-block}

.container>h2,.container>h3,.container>h3,.container>li>h2{
	margin-bottom:0px;
}

#ak-header{
	background:#fff;
	border-bottom: 1px solid #EBEBEB;
}

.ak-gray-bg{
	background: #f6f6f6;
}

.ak-white-bg{
	background: #fff;
}

.horz-split-1x,.horz-split-dark-1x{
	width:100%;
	text-align:center;
}

.horz-split-1x>span,.horz-split-dark-1x>span{
	display:inline-block;
	width:300px;
	height:1px;
	background:#ededed;
}

.horz-split-dark-1x>span{
	background:#ccc;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #231F20;
  border-radius: 1px;
}

.navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}

.horzr-sep-block{
  width:100%;
  height:20px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 20px;
}

.call-to-action-demo{
	margin:40px 40px;
}

.ak-container{
	padding-top:30px;
	padding-bottom: 30px;
}

#text-slider{
	clear:both;
	min-height:400px;
	padding-top:120px;
}

#ak-slide-zone h1{font-size: 50px;}

#ak-slide-zone p{font-size:25px;}

#ak-slide-container{
	display:block;
	list-style-type:none;
	height:470px;
	text-align:left;
	padding-bottom: 40px;
}

.ak-slide{color:#555;display:none}

#slide-jumper-sec .ak-jumper-block{
	margin:15px 0 15px;
}

.ak-slide-jump-butn{
	height:8px;
	border:1px solid rgba(0,0,0,0.8);
	width:8px;
	border-radius:4px;
	display:inline-block;
	margin:5px 7px 0;
	cursor:pointer;
	transition:all 0.35s ease-out;
}

.ak-slide-jump-butn:hover{
	background:#444;
}

.ak-jump-active,.ak-hovered-jumper{
	background:#000;
}

.ak-slide-jump-butn:hover{
	background:rgba(50,50,70,0.4);
}

#ak-jumper-block{
	text-align:center;
	padding:0 2%;
	margin-top: -40px;
	margin-bottom:40px;
}

.btn-primary:hover{
	background:#999;
}

.ak-btn-round{
	border-radius:20px;
}

.btn{font-family: neosans;}

.button-red{
	background:#EE5146;
	border:none;
	padding:10px 90px;
}

.button-green{
	background:#4CAF50;
	border:none;
	padding:10px 40px;
}

.uppercase{
	text-transform:uppercase;
}

.half-block-container{
	margin:10px 0 70px;
	text-align:left;
}

.half-block-container>li,.half-block-container>div{
	/*width:50%;
	float:left;*/
}

#ak-radar-zone{ margin: 70px 0 10px;}

#ak-dotted-circle{
	margin-top:30px;
}

#ak-cellphone-14 {
    position: relative;
    margin-top: 30px;
    max-width: 150px;
	margin-left: -64%;
}

#head-txt-14{
	margin-top:14%;
}

#many-more-team{margin-top:20px}

.side-icon{width:90%;max-width:300px;margin:0 auto;}

.user-comments{
	font-size:1.0em;
	color:#888;
	max-width:700px;
	margin:30px auto;
	min-height:80px;
}

#testimony-selector{
	width:70%;
	max-width:600px;
	margin:10px auto;
}

.horz-select-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:1px;
	background:#bbb;
}

.horz-selected-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:2px;
}

.horz-selected-span>span{
    width:10%;
	margin-top:-1px;
	height:2px;
	display:block;
	background:#aaa;
}

.logos-box{
	margin-top:30px;
}

.logos-box>li{
	width:130px;
	display:inline-block;
	margin:20px 20px;

}

.logos-box>li>img{width:100%;opacity:0.6;transition: all 0.3s ease-out;}
.logos-box>li>img:hover{opacity:1}

#contact-form-holder{
	width:90%;
	margin:20px auto;
	max-width:800px;
	font-size: 17px;
}

#contact-form-holder textarea, #contact-form-holder input[type=text],#contact-form-holder input[type=email]{
	background:#f8f8f8;
	border:none;
	margin:3px auto 0px;
	box-shadow:none;
	padding:12px 15px;
	font-size: 17px;
}

#contact-form-holder textarea{
	margin: 40px 0px;
}

#hello-zone-cu{
	padding-top:60px;
}

#hello-zone-cu img{
	width:100px;
}


#form-social-block{
	text-align:center;
}

#form-social-block img{
	width:35px;
	margin-left:5px;
}
.form-title{
	font-size:1.1em;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
	display:inline-block;
}

.cu-form-eorror{
	height: 25px;
    text-align: left;
	text-shadow:none;
}

.ak-checkbox-pannel>li{
	text-align:left;
	margin-top:16px;
}

.ak-cb-depth{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}

.ak-cb-depth-inner{
	width:15px;
	height:15px;
	border:1px solid #444;
	vertical-align:middle;
}

.ak-cb-title{
	display:inline-block;
	margin-left:7%;

}

#ak-dotted-circle {
  animation-duration: 14s;
  animation-name: radarrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 90%;
  max-width:400px;
}

#scan-process-list{
	padding-top:90px;
}

#scan-process-list > li,.innerZoneScan{
	width:32%;
	max-width:380px;
	display:inline-block;
	vertical-align:top;
	padding:20px 1.5%;
}

#radar-list-block{margin-left:5px;}

#radar-list-block>span{display:none;font-size:1em;border-bottom:1px solid #EE5146;padding-bottom:2px}

.innerZoneScan{
	text-align:left;
}

#radar-img-zone{margin-bottom:60px;}

#scan-process-list .icon{
	max-width:70px;
	widtH:100%;
	background: #FFF;
}

#scan-process-list .desc-text{
	background: #FFF;
}

#scan-process-list .desc-title{
	background: #FFF;
}
#scan-process-list .title{
	background: #FFF;
}

#home-video-zone{
  border: 3px solid #616060;
  border-radius: 5px;
  box-shadow: 2px 3px 4px #ccc;
  width: 40% !important;
  max-width: 90% !important;
  background: #fff;
  margin-left: 23%;
  margin-top: 30px;
  padding:0 !important;
  margin-bottom: 30px;
}

#uploadAppZone{margin-top:110px;}

#SASTZone .icon{margin-left:-90px;}

#SASTZone .title{margin-top:-70px;}

#DASTZone .title{margin-top:-10px;}

#DASTZone .icon{margin-top:-80px;margin-left:200px}

#scReportZone{display:block !important;margin:30px auto}

#UBAZone{width:100% !important;padding:0;max-width:100% !important;text-align:right;}

#UBAInnerZone{margin-top:-138px;}

#UBAInnerZone .icon{margin-left:75px;}

#whySheildZone{
	margin-top:130px;
}

#awards-box{margin:-30px 0 80px 0;}

#awards-box>li{margin-top:50px;margin-bottom:20px}

.awards-image{text-align:center}

.awards-image>img{
	text-align:center;
	width:170px;
	height:170px;
	border-radius:85px;
	opacity:0.8;
	transition:all 0.35s ease-out;
}

.awards-image>img:hover{opacity:1;border-radius:45px;}

.why-appknox{text-align:left}

.why-appknox h2{text-align:center}

.contact-us-block{
  padding-top: 30px;
  padding-bottom: 60px;
}

.contact-us-block .contact-us-btn{display:inline-block;margin-top:30px;}

#footer-form input{display:inline-block}

.footer-links{text-align:center;font-size:1.2em}
.footer-links a{display:inline-block;margin-left:30px;margin-top:10px;}

@keyframes radarrotate {
  from {
    m-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
  }

  to {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

#site-footer{
	background:#333;
	padding:20px 0;
	color:#9d9d9d;
}

#site-footer input[type=email]{
	border:none;
	background:#444;
	padding:8px 2%;
	width:66%;
}

#site-footer .container>div{
	padding:10px 3%;
	border-bottom:1px solid #444;
}

.footer-titles{
	color:#C0C0C0;
	margin:15px 0%;
	font-size:0.9em;
}

.footer-article{
	margin:5px 0 40px 0;
}

.footer-article p{
	font-size:0.9em;
	color:#767676;
}

.news-title{font-size:0.8em;}

#footer-subscribe-butn{
	background: #555;
    color: #aaa;
    border: none;
    padding: 10px 12px;
    border-radius: 15px;
    font-size: 0.9em;
    margin: 10px 10px;
}

#footer-subscribe-butn:hover{
	color:#fff;
}

.adress-text{
	font-size:0.9em;
	margin-top:20px;
}
#footer-form{margin-bottom:40px;}
#footer-form h3{display:inline-block;width:38%}
#footer-form form{display:inline-block;width:60%;}

#contact-us-form{display:nne}

/* PRICING PAGE */
.pricing-box{
  border:1px solid #ccc;
  color:#555;
  margin-top:30px;
  padding-bottom:50px;
  box-shadow:0 1px 3px #d0d0d0;
}

.pricing-box .btn-primary{
  font-size: 16px;
  margin-top: 20px;
  padding: 7px 26px;
}

#essential-pricing{
  border:3px solid #ddd;
  box-shadow:0 2px 5px #ccc;
  margin-top: 10px;
  padding-bottom: 90px;
}

#lite-pricing .pricing-title{color:#3a8c87}

#essential-pricing .pricing-title{color:#49455b}

#advanced-pricing .pricing-title{color:#000}

#advanced-pricing{
  border:1px solid #ccc;
}

.pricing-title{
  font-weight:bold;
  color: #7A7A7A;
  display: inline-block;
  padding: 12px 5% 6px;
  border-bottom:2px solid #EE5146;
}
.pricing-amount{
  font-size:25px;
  font-weight: bold;
  padding:12px 2%;
  color: #7A7A7A;
}

.pricing-amount>span{
  font-weight: normal;
  font-size: 17px;
}
.pricing-anually{
  font-weight: normal;
  font-size: 17px;
  padding:0 8% 5px;
  display:inline-block;

}

.pricing-facts.first{
    border-top:1px solid #ccc;
    padding-top:18px;
}

.pricing-facts{
  margin:3px auto 3px;
  font-size:0.9em;
  list-style-type: disc;
  text-align: left;
  list-style-position: inside;
  padding: 8px 5%;
  width:80%;
  color:#555;

}

/* END PRICING PAGE */

/* RESOURCES PAGE */

#resources-header{
  text-align: left;
  margin-bottom:70px;
}

#resources-zone{
  border-top:1px solid #ccc;
  padding-top:60px;
  padding-bottom:60px;
}

.resource-tile{margin:20px 0 30px;}

.resource-image-block img{
  width:100%;
}

.resource-info .author{
  float:left;
  text-align: left;
  display: block;
  width:47%;
  padding:5px 1.5%;
}

.resource-info .publish-date{
  float:left;
  text-align: right;
  width:47%;
  display: block;
  padding:5px 1.5%;
}

.resource-title{
  font-weight:bold;
  color:#666;
  padding:5px 1.5%;
  border-bottom:2px solid #ccc;
}

/* RESOURCES PAGE */

/* COMPANY PAGE */
.member-data-zone{
  text-align:center;
  margin-top:45px;
  margin-bottom:20px;
  display: inline-block;
  width: 22%;
  padding: 0 1.5%;
  margin-left: 12px;
  vertical-align: top;
}

.member-pic-zone>img{
    width: 157px;
    height: 157px;
    background-color: white;
    border-radius: 80px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .logo-pic-zone>img{
      max-width: 180px;
      background-color: white;
      margin-bottom: 20px;
      overflow: hidden;
      vertical-align: top;
    }


.social-icons {
  list-style: none;
  overflow: hidden;
  display: inline-block;
}

.member-title{
  font-size:1em;
  color: #555;
  margin-bottom: 6px;
}

.social-icons li {
  display: inline-block;
  margin-right: 8px;
  font-size: 20px;
}

.social-icons li > a {
  color:#999
}
/* END OF COMPANY PAGE */

@media (min-width: 768px){
	.navbar-nav>li>.dropdown-menu {
		position:fixed;
		text-align:center;
		width:100%;
		background: #454545;
	}

  #ak-menu{float:right}

	.dropdown-menu>li{
		display:inline-block;

	}

	.dropdown-menu>li>a{
		color:#999;
	}

	.navbar-nav>li>a{
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
		color: #999;
		margin-top:10px;

	}

	.nav>li>a:hover, .nav .open>a:hover, .nav .open>a:focus {
		background: none;
	}

  a:focus {
		background: none !important;
	}

    /*#ak-header{
		border-bottom: 1px solid #E9E9E9;
	}*/


}

@media (max-width: 990px){
	.navbar-nav {
		margin-left: 5%;
	}
}

@media (max-width: 760px){

  #home-video-zone{
      width:70% !important;
      margin:15%;
  }

	#text-slider {
		padding-top: 60px;
	}

	#ak-slide-zone{
		text-align:center;
	}


	#ak-slide-zone h1{
		font-size:35px;
	}
	#head-txt-14{
		font-size:30px;
	}

	#scan-process-list > li {
		width:48%;
	}

	#UBAZone{width:48% !important;}

	.innerZoneScan{width:100%;}

	#DASTZone .icon {
		margin-top: -40px;
		margin-left: 120px;
	}

	#DASTZone .title {
		margin-top: -30px;
	}

	#ak-radar-zone {margin-bottom:10px; margin-top:30px}

  .member-data-zone{
    width: 30%;
    padding: 0 1.5%;
    margin-left: 12px;
  }

    #ak-cellphone-14 {
      position: relative;
      margin-top: 30px;
      max-width: 150px;
      margin-left: -44%;
    }
}

@media (max-width: 600px){
	.half-block-container>li{
		float:none;
		text-align:center;
		width:100%;
	}

	#head-txt-14 {margin-top:4%}

  .member-data-zone{
    width: 47%;
    padding: 0 1.5%;
    margin-left: 12px;
  }
}

@media (max-width: 480px){
	.slide-img-zone{
		display:none;
	}
	#ak-slide-container{
		min-height:0;
		text-align:center;
	}

	#scan-process-list > li {
		width:98%;
	}

  #home-video-zone{
      width:98% !important;
      margin:1%;
  }

	#UBAZone{width:98% !important;}

	.innerZoneScan{width:100%;}

	#DASTZone .icon {
		margin-top: -40px;
		margin-left: 120px;
	}

	#DASTZone .title {
		margin-top: -30px;
	}

	#head-txt-14 {
		margin-top: 2%;
	}
	.half-block-container {
		margin-bottom:10px;
	}

	#scan-process-list {
		padding-top: 10px;
		text-align:center;
	}

	#scan-process-list .icon {
		margin: 0 auto;
	}

	#uploadAppZone {
		margin-top: 30px;
	}

	#whySheildZone{
		margin-top:0px;
	}

	#SASTZone .title {
		margin-top: 0;
	}

	#DASTZone .title {
		margin-top: 0px;
	}
	.innerZoneScan {
		text-align: center;
	}

	.why-appknox{text-align:center}


	#radar-list-block{margin-left:0px;}

}
