

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul,li{list-style-type:none;margin:0;padding:0}

.gray-4{color:#444}
.gray-5{color:#555}
.gray-6{color:#666}
.gray-7{color:#777}
.gray-8{color:#888}
.gray-a{color:#aaa}

#ak-header{background:#fff;}

.ak-gray-bg{
	background: #F0EFEF;
}

.horz-split-1x{
	width:100%;
	text-align:center;
}

.horz-split-1x>span{
	display:inline-block;
	width:300px;
	height:1px;
	background:#ededed;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #231F20;
  border-radius: 1px;
}

.navbar-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 20px;
}

.call-to-action-demo{
	margin:60px 40px;
}

.ak-container{
	padding-top:30px;
	padding-bottom: 30px;
}

#text-slider{
	clear:both;
	min-height:400px;
	background:#fff;
	padding-top:150px;
}

#ak-slide-zone{
	display:block;
	list-style-type:none;
	min-height:340px;
}

.ak-slide{color:#555;display:none}

.ak-slide h2,.ak-slide h4{text-align:center;}

.ak-slide-jump-butn{
	height:16px;
	background:rgba(0,0,0,0.5);
	width:16px;
	border-radius:8px;
	display:inline-block;
	margin:5px 7px 0;
	cursor:pointer;
	transition:all 0.35s ease-out;
}

.ak-slide-jump-circle{
	height:8px;
	width:8px;
	margin:4px;
	border-radius:4px;
}

.ak-jump-active,.ak-hovered-jumper{
	background:#bbb;
}

.ak-slide-jump-butn:hover{
	background:rgba(50,50,70,0.4);
	border-color:#f77;
}

#ak-jumper-block{
	text-align:center;
	padding:0 2%;
}

.btn-primary:hover{
	background:#999;
}

.ak-btn-round{
	border-radius:20px;
}

.bottom-red{
	background:#b48787;
	border:none;
	padding:10px 40px;
}

.uppercase{
	text-transform:uppercase;
}

.half-block-container>li,.half-block-container>div{
	width:50%;
	float:left;
}

#ak-radar-zone{ margin-top: 100px;}

#ak-dotted-circle{
	margin-top:-70px;
}

#ak-cellphone-14 {
    position: relative;
    margin-top: -408px;
    max-width: 200px;
	
}

#head-txt-14{
	margin-top:90px;
}

.side-icon{max-width:100%;}

.user-comments{
	font-size:1.4em;
	color:#888;
	max-width:700px;
	margin:30px auto;
}

#testimony-selector{
	width:70%;
	max-width:600px;
	margin:10px auto;
}

.horz-select-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:1px;
	background:#bbb;
}

.horz-selected-span{
	width:100%;
	max-width:400px;
	margin:0 auto;
	height:2px;
}

.horz-selected-span>span{
    width:10%;
	margin-top:-1px;
	height:2px;
	display:block;
	background:#aaa;
}

.logos-box>li{
	width:100px;
	display:inline-block;
	margin:10px 10px;
	
}

.logos-box>li>img{width:100%;opacity:0.4;transition: all 0.3s ease-out;}
.logos-box>li>img:hover{opacity:1}

#contact-form-holder{
	width:90%;
	margin:20px auto;
	max-width:800px;
}

#contact-form-holder textarea, #contact-form-holder input[type=text],#contact-form-holder input[type=email]{
	border:1px solid #eaeaea;
	margin:15px auto;
	box-shadow:none;
}

#contact-form-holder textarea{
	margin: 40px 0px;
}

.ak-checkbox-pannel>li{
	text-align:left;
	margin-top:30px;
}

.ak-cb-depth{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}

.ak-cb-depth-inner{
	width:15px;
	height:15px;
	background:#ccc;
	vertical-align:middle;
}

.ak-cb-title{
	display:inline-block;
	margin-left:7%;
	
}

#ak-dotted-circle {
  animation-duration: 14s;
  animation-name: radarrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes radarrotate {
  from {
    m-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg); 
  }

  to {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@media (min-width: 768px){
	.navbar-nav>li>.dropdown-menu {
		position:fixed;
		text-align:center;
		width:100%;
		background: #454545;
	}

	.dropdown-menu>li{
		display:inline-block;
		
	}

	.dropdown-menu>li>a{
		color:#999;
	}
	

	.navbar-nav {
		margin-left: 24%;
	}
	
	.navbar-nav>li>a{
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
		color: #999;
		margin-top:10px;
		
	}
	
	.nav>li>a:hover, .nav .open>a:hover, .nav .open>a:focus {
		background: none;
	}
	
    /*#ak-header{
		border-bottom: 1px solid #E9E9E9;
	}*/
	
	
}
