@font-face {
    font-family: neosans;
    src: url(../fonts/NEOSANS.OTF);
}

@font-face {
    font-family: gillsansmtpro;
    src: url(../fonts/GILLSANSMTPRO-BOOK.OTF);
}

body{
  margin-top: 30px;
}

input.error {
    border-bottom: 1px solid red;
}

.lp-gray-bg{
  background-color: #f6f6f6;
}

.green {
    color: #81C06C;
}

.ak-margin-10 {
    margin-top: 20%;
}

.red {
    color: #f17758;
}
.no-border {
    border: none !important;
}
/* Nav Bar Style
*/

.navbar-brand {
    padding-left: 25px !important;
}

/*.navbar-nav {
    margin-left: 24%;
}*/

#ak-menu {
  margin-right: 200px!important;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #231F20;
    border-radius: 1px;
}

.navbar-toggle .icon-bars-button {
    display: inline-block;
    vertical-align: middle;
}

.horzr-sep-block {
    width: 100%;
    height: 20px;
}

.header {
    margin-top: 120px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px;
    margin-top: 8px;
    font-size: 18px;
    line-height: 20px;
}
.block {
    display: block !important;
}
a {
    color: #000;
    text-decoration: none;
}
#ak-header {
    background: #fff;
    border-bottom: 1px solid #EBEBEB;
}

#ak-header li>a {
    font-family: neosans;
    font-size: 16px;
    transition: all .4s ease-out;
    cursor: pointer;
}

#ak-header li>a:focus,#ak-header nav .open>a {
    text-decoration: none;
    background-color: transparent !important;
}

#ak-header li>a:hover,#ak-header li>a:active {
    text-decoration: none;
    background: transparent !important;
}

.request-menu{
   background: #ea2127;
   border: none;
   padding: 5px 20px;
   color: #ffffff!important;
   border-radius: 30px;
   margin-top: -43px;
   float: right;
   font-size: 13px;
   font-family: neosans;
   margin-right: 70px;
   height: 30px;
   line-height: 23px;
   cursor: pointer;
 }


@media (min-width: 768px) {
    .dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
        background-color: transparent !important;
        color: #fff;
    }

    #resource-dropdown .active {
        color: #fff !important;
        transition: all .35s ease-out;
    }

    .navbar-nav>li>.dropdown-menu {
        position: fixed;
        text-align: center;
        width: 100%;
        background: #454545;
    }

    #ak-menu {
        float: right;
        margin-right: 130px;
    }

    .dropdown-menu>li {
        display: inline-block;
    }

    .dropdown-menu>li>a {
        color: #999;
    }

    .navbar-nav>li>a {
        text-shadow: none;
        color: #000;
        margin-top: 10px;
    }

    .nav>li>a:hover,.nav .open>a:hover,.nav .open>a:focus {
        background: none;
    }

    a:focus {
        background: none !important;
    }/*#ak-header{
        border-bottom: 1px solid #E9E9E9;
      }*/

}

@media (max-width: 990px) {
  #ak-menu {
  margin-right: 100px!important;
  float: left;
  }
  .request-menu{
    margin-right: 40px;
  }
}

.heading{
  margin-top: 60px;
  max-width: 400px;
  font-size: 24px;
  color: #000000;
  font-family: neosans;
}

.form-heading{
  font-size: 24px;
  color: #000000;
  font-family: neosans;
  margin-left: 250px;
  margin-top: 30px;
}

.content{
  max-width: 500px;
  font-size: 19px;
  color: #979797;
  font-family: lato;
  font-weight: 400;
  margin-top: 30px;
}

.testimony-client{
  margin-top: 60px;
}

.user-opinion{
  color: #000000;
  font-family: lato;
  font-weight: 400;
  font-size: 17px;
}

.client-name{
  margin-top: 10px;
  color: #979797;
  font-family: lato;
  font-weight: 400;
  font-size: 17px;
}

.second-section{
  margin-top: 40px;
}

.session-section {
  margin-top: 60px;
  border-color: #f2f2f2;
  height: 220px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.session-icon{
  margin-top: 10px;
}

.third-section{
  margin-top: 60px;

}
.last-section{
  margin-top: 80px !important;
  margin-left: -15px;
  margin-bottom: 30px;
}

.session-heading{
  margin-top: 20px;
  margin-left: -80px;
  font-size: 24px;
  text-align: left;
  color: #000000;
  font-family: neosans;
  width: 85%;
}

.session-desc{
  text-align: left;
  margin-top: 60px;
  margin-left: 70px;
  font-size: 17px;
  color: #666666;
  font-family: lato;
  font-weight: 400;
}

.book-button {
  background: #f6f6f6;
  border: none;
  color: #ff6666;
  cursor: pointer;
  font-family: neosans;
  text-align: center;
  font-size: 16px;
  width:40%;
  margin-left: 130px;
  margin-top: 4%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.submit-button{
  background: #ff6666;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: neosans;
  text-align: center;
  font-size: 16px;
  width:40%;
  margin-left: 300px;
  margin-top: 4%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.lined-input{
  color: #979797;
  height: 28px;
  padding-left: 10px;
  text-decoration: none;
  background-color:#f6f6f6;
  border-top:0;
  border-right:0;
  border-bottom:1px solid black;
  border-left:0;
  outline:none;
  display: block;
  width: 400px;
  margin-left: 200px;
  font-size: 17px;
  font-family: lato;
  font-weight: 400;
}

.sos-form-eorror{
  height: 28px;
  padding-left: 10px;
  text-decoration: none;
  border-top:0;
  border-right:0;
  border-bottom:0;
  border-left:0;
  outline:none;
  display: block;
  width: 400px;
  margin-left: 200px;
  font-size: 12px;
  font-family: lato;
  font-weight: 400;
}

.form-field{
  margin-top: 30px;
}

.condition-text{
  margin-left: 250px;
  margin-bottom: 40px;
  font-size: 13px;
  font-family: lato;
  font-weight: 400;
  color: #979797;
  width: 330px;
}

.adress-text li {
  list-style-type: none!important;
}

.news-title {
    font-size: 17px;
    font-family: neosans;
}

.news-title:hover a{
    text-decoration: none !important;
}

.email-placeholder input {
  font-size: 13px;
  font-family: neosans;
}

.adress-text {
    font-size: 16px;
    font-family: neosans;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact-us-form {
    display: none;
}

#form-social-block,.form-social-block {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#form-social-block img,.form-social-block img {
    width: 35px;
    margin-left: 15px;
}

#SOSForm {
    text-align: right;
}

.button-red {
    background: #ea2127;
    border: none;
    padding: 10px 90px;
    color: #fff;
    cursor: pointer;
    font-family: neosans;
    margin-bottom: 30px;
}

.button-red:hover {
    color: #fff !important;
}

/* Appgarder Page Section*/

.appgrader-logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.ag-logo{
  margin-bottom: 30px;
}

.appgrader-combine {
  text-align: center;
}

.ag-content{
  font-size: 24px;
  font-family: neosans;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ag-curve{
  margin-left: 50px;
}

.image-fit{
  position: absolute;
  top:150px;
  right: 150px;
}

.sub-content{
  color: #979797;
}

.mailbox-content{
  font-size: 24px;
  font-family: neosans;
  text-align: center;
  margin-top: 50px;
}

.mailbox-sub{
  margin-top: 30px;
  font-size: 20px;
  font-family: neosans;
  color: #ff4a4a;
  text-align: center;
}

.curve-content{
  font-size: 32px;
  font-family: neosans;
  margin-left: 30px;
  margin-top: 30px;
}

.appgrader-combine {
  text-align: center;
}

.insight-images{
  margin-left: 60px;
  margin-top: 30px;
}

.insight-content{
  font-size: 20px;
  font-family: gillsans;
  width: 75%;
  margin-left: 50px;
  margin-top: 30px;
}

.insight-text{
  margin-top: 75px;
}

.ap-table{
  margin-top: 20px;
}

.ap-table td{
  padding-left: 10px;
  padding-top: 5px;
}

.float-my-children > * {
    float:left;
    margin-right:5px;
}

.image-text{
  position: absolute;
  top:125px;
  left:105px;
  width: 5px;
}

.grade-title{
  font-size: 32px;
  font-family: neosans;
  text-align: center;
  margin-top: 30px;
  color: #ff4a4a;
}

.form-pos{
  margin-top: 60px;
}

.grade-button{
  background: #ff6666;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: neosans;
  text-align: center;
  font-size: 16px;
  width:15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.proactive-appgrader{
  margin-top: 30px;
}

.proactive-text{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: gillsans;
}

/* Start of Footer */

.site-footer {
  background: #02060C;
  color: #fff;
  font-family: neosans;
  font-size: 16px;
}

.footer-nav {
  margin-left: 2%
}

.site-footer a {
  font-size: 16px;
  transition: all .35s ease-out;
}

.site-footer a:hover {
  color: #fff !important;
}

.footer-container {
  margin-left: 0px;
  margin-right: 0px
}
.subscribe-button {
  background: #000;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  font-family: neosans;
  text-align: center;
  font-size: 13px;
  padding: 5px 30px;
}

.inblock {
    display: inline-block !important;
}

#subscribe-form .email-placeholder {
  color: #000
}

.footer-box {
  background-color: #0E1316;
  color: #ccc;
  font-family: gillsansmtpro;
  margin-right: 5px;
  margin-bottom: 20px;
  height: 70px;
}

.footer-box a {
  color: #ccc;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.footer-section2 {
  margin-top: 10px
}

.address-section {
  border-left: 1px solid grey;
}

.site-footer .footer-menu-white {
  color: #ffffff!important;
  text-decoration: underline;
}

.site-footer .footer-menu-grey {
  color: #9d9d9d!important;
}

.site-footer .footer-menu-white:hover {
  color: #fff !important;
  text-decoration: underline;
}

.company-name {
  font-size: 36px;
  color: #bfbfbf
}

.office-address {
  font-size: 13px;
  color: #999999
}

.office-address li {
  list-style: none;
}

.office-address .address-heading {
  font-family: neosans;
  color: #e6e6e6
}

.company-address {
  min-height: 120px
}

.subscribe-title {
  color: #000;
}
.subscrb-btn{
  margin: 20px auto;
  color: #ee5345;
  text-align: center;
  height: 30px;
  line-height: 30px;

}

.email-placeholder {
  width: 100%
}

.ak-btn-round {
    border-radius: 20px;
}

/* End of footer */

@media (max-width: 1024px) {
  .call-button {
    margin-left: 450px;
  }
  .content{
    max-width: 400px;
  }
  .lined-input{
    margin-left: 60px;
  }
  .submit-button{
    margin-left: 170px;
  }
  .condition-text{
    margin-left: 100px;
    margin-bottom: 40px;
  }
  .session-heading{
    margin-left: -50px;
  }
  .form-heading{
    margin-left: 110px;
  }
  .session-section{
    height: 250px;
  }
  .last-section{
    margin-top: 60px!important;
  }
  .third-section{
    margin-top: 80px;
  }
  .footer-links{
     font-size: 12px;
     margin-top: 60px;
  }
  .sos-form-eorror{
    margin-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .heading{
    max-width: 100%;
  }
  .header {
      margin-top: 160px;
  }
  .content{
    max-width: 100%;
  }
  .main-section{
    text-align: center;
  }
  .lined-input{
    margin-left: 130px;
  }
  .submit-button{
    margin-left: 250px;
  }
  .condition-text{
    margin-left: 165px;
  }
  .form-field{
    margin-top: 50px;
  }
  .session-section{
    height:250px;
    width: 55%;
    margin-top: 30px;
  }
  .second-section{
    width: 45%;
  }
  .session-heading{
    margin-left: -45px;
    font-size: 20px;
  }
  .session-desc{
    text-align: left;
    margin-top: 60px;
    font-size: 15px;
    margin-left: 40px;
  }
  .book-button {
    margin-left: 115px;
    margin-top: 20px;
  }
  .tab-view{
    width: 55%;
    margin-top: 30px;
  }
  .tab-view2{
    height:300px;
    width: 45%;
  }
  .last-section{
    margin-top: 0px !important;
    margin-left: 0px;
  }
  .image-enlarge{
    margin-left: 15px;
  }
  .third-section{
    margin-top: 0px;
  }
  .second-image{
    margin-top: 100px;
  }
  .session-icon{
    margin-left: -20px;
  }
  .last-heading{
    width: 85%;
  }
  .form-heading{
    margin-left: 190px;
  }
  .ag-curve{
    margin-left: 200px;
  }
  .image-fit{
    position: absolute;
    top:150px;
    right: 150px;
  }
  .ap-table{
    margin-left: 10px;
  }
  .insight-images{
    margin-left: 220px;
  }
  .image-text{
    top:95px;
    left:265px;
  }
  .insight-content{
    margin-left: 120px;
    margin-top: 30px;
  }
  .grade-button{
    width: 20%;
  }
  input:active {
      outline: none !important;
      border: none !important;
  }

  input:focus {
      outline:0 !important;
  }
  .sos-form-eorror{
    margin-left: 130px;
  }
  .update-text {
    margin-top: 70px;
    text-align: center;
  }
  .subscribe-button {
    width: 150px;
    display: block!important;
    margin: 20px auto;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .request-menu{
   display: none;
 }
  .heading{
    max-width: 100%;
  }
  .content{
    max-width: 100%;
  }
  .main-section{
    text-align: center;
  }
  .lined-input{
    margin-left: 30px;
    width: 300px;
  }
  .submit-button{
    margin-left: 110px;
  }
  .condition-text{
    margin-left: 30px;
  }
  .form-field{
    margin-top: 50px;
  }
  .session-images{
    display: none;
  }
  .session-section{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 300px;
  }
  .session-heading{
    margin-left: -45px;
    font-size: 20px;
  }
  .session-desc{
    margin-left: 40px;
    font-size: 15px;
  }
  .last-section{
    margin-left: 0px;
    margin-top: 0px!important;
  }
  .book-button{
    margin-left: 105px;
  }
  .tab-view3{
    width: 85%;
  }
  .session-section{
    height: 250px;
  }
  .session-icon{
    margin-left: -20px;
  }
  .last-heading{
    width: 85%;
  }
  .form-heading{
    margin-left: 45px;
  }
  .ag-curve{
    margin-left: 10px;
  }
  .image-fit{
    right: 30px;
  }
  .ap-table{
    margin-left: 10px;
  }
  .insight-images{
    margin-left: 70px;
  }
  .image-text{
    top:95px;
    left:115px;
  }
  .curve-content{
    margin-left: 10px;
  }
  .grade-button{
    width: 40%;
  }
  .insight-content{
    margin-left: 70px;
    margin-top: 20px;
  }
  .sos-form-eorror{
    margin-left: 30px;
  }
  .footer-box {
    margin-left: -20px;
    padding-right: 0px;
    padding-left: 10px;
    margin-right: -20px;
  }
  .subscribe-button {
    width: 150px;
    display: block!important;
    margin: 20px auto;
  }
  .update-text {
    margin-top: 20px;
    text-align: center;
  }
  .footer-nav {
    margin-left: 5%;
  }
  .footer-nav>li {
    display: inline-block;
  }

}

@media (min-width: 375px) and (max-width: 424px) {
  .heading{
    max-width: 100%;
  }
  .request-menu{
  display: none;
  }
  .content{
    max-width: 100%;
  }
  .main-section{
    text-align: center;
  }
  .lined-input{
    margin-left: 20px;
    width: 300px;
  }
  .submit-button{
    margin-left: 110px;
  }
  .condition-text{
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
    max-width: 300px;
  }
  .form-field{
    margin-top: 50px;
  }
  .session-images{
    display: none;
  }
  .session-section{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 300px;
  }
  .session-heading{
    margin-left: -35px;
    font-size: 20px;
  }
  .session-desc{
    margin-left: 40px;
    font-size: 15px;
  }
  .last-section{
    margin-left: 0px;
    margin-top: 0px!important;
  }
  .book-button{
    margin-left: 50px;
    width: 70%;
  }
  .tab-view3{
    width: 90%;
  }
  .session-section{
    height: 270px;
  }
  .session-icon{
    margin-left: -20px;
  }
  .form-heading{
    margin-left: 20px;
  }
  .ag-curve{
    margin-left: 0px;
  }
  .image-fit{
    right: 10px;
  }
  .curve-content{
    margin-left: 0px;
  }
  .image-text{
    top:90px;
  }
  .grade-button{
    width: 40%;
  }
  .insight-content{
    margin-left: 60px;
    margin-top: 30px;
  }
  .sos-form-eorror{
    margin-left: 20px;
  }
  .footer-box {
    margin-left: -20px;
    padding-right: 0px;
    padding-left: 10px;
    margin-right: -20px;
  }
  .subscribe-button {
    width: 150px;
    display: block!important;
    margin: 20px auto;
  }
  .update-text {
    margin-top: 20px;
    text-align: center;
  }
  .footer-nav {
    margin-left: 10%;
  }
  .footer-nav>li {
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .heading{
    max-width: 100%;
  }
  .request-menu{
  display: none;
  }
  .content{
    max-width: 100%;
  }
  .main-section{
    text-align: center;
  }
  .lined-input{
    margin-left: 10px;
    width: 250px;
  }
  .submit-button{
    margin-left: 80px;
  }
  .condition-text{
    margin-left: -23px;
  }
  .form-field{
    margin-top: 50px;
  }
  .session-images{
    display: none;
  }
  .session-section{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 300px;
  }
  .session-heading{
    width: 80%;
    margin-left: -20px;
    font-size: 20px;
  }
  .session-desc{
    margin-left: 60px;
    font-size: 15px;
  }
  .last-section{
    margin-left: 0px;
    margin-top: 0px!important;
  }
  .book-button{
    margin-left: 40px;
    margin-top: 20px;
    width: 70%;
  }
  .tab-view3{
    width: 80%;
  }
  .condition-text{
    text-align: center;
    font-size: 13px;
    max-width: 300px;
  }
  .form-heading{
    margin-left: 15px;
    font-size: 20px;
  }
  .ag-curve{
    margin-left: 0px;
  }
  .image-fit{
    right: 0px;
    top : 110px;
  }
  .curve-content{
    margin-left: 0px;
  }
  .image-text{
    top:90px;
    left:130px;
  }
  .ap-table{
    margin-left: 60px;
  }
  .insight-images{
    margin-left: 85px;
  }
  .grade-button{
    width: 40%;
  }
  .grade-now{
    width: 50%;
    margin-left: 60px;
  }
  .insight-content{
    margin-left: 10px;
    margin-top: 30px;
    width: 100%;
  }
  .sos-form-eorror{
    margin-left: 10px;
  }
  .footer-box {
    margin-left: -20px;
    padding-right: 0px;
    padding-left: 10px;
    margin-right: -20px;
  }
  .footer-box a {
    font-size: 12px
  }
  .subscribe-button {
    width: 150px;
    display: block!important;
    margin: 20px auto;
  }
  .update-text {
    margin-top: 20px;
    text-align: center;
  }
  .footer-nav {
    margin-left: 5%;
  }
  .footer-nav>li {
    display: inline-block;
  }
}
