---
layout: default
title: Company
excerpt: Appknox detects & addresses vulnerabilities in mobile apps enabling businesses achieve faster time to market higher productivity 360° mobile security
permalink: /company/
---
<section id="about-us">
  <div class="container text-center" id="company-page">
    <div class="col-md-12 col-sm-12" id="company-header">
      <p class="big-font light-white">
           We’re a community of ethical hackers <br> dedicated to unmatched mobile app security
      </p>
    </div>
    <p>
        <h1 class="red">
        #Proactive Always
        </h1>
    </p>
  </div>
  <div class="gray-a trans-black-bg" id="mission-zone">
    <ul class="container ">
      <li><h1 class="text-center light-white">Our Mission</h1></li>
      <li>
        <p class="text-center medium-font">To use a human plus system approach that outsmarts unethical hackers exploiting mobile channels.</p>
      </li>
    </ul>
  </div>
</section>
<section>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">How it all began</h1></li>
    <li>
      <div class="col-md-6 col-sm-6">
        <p class="text-justify medium-font">
            While hackers were exploiting the open source
             Android operating system to find vulnerabilities and
            inject malware, security issues in iOS apps were not too far behind.
        </p>
        <p class="text-justify medium-font">
          This led to the idea of building a tool to help
          app owners secure their apps.
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="text-justify xl-font small-para">
          " Majority of the apps in the app stores were vulnerable to security issues "
        </p>
      </div>
    </li>
  </ul>
</section>

<section>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Our Vision</h1></li>
    <li>
      <p class="text-center medium-font">Appknox aims at building a safe and secure mobile ecosystem for businesses around the globe.</p>
    </li>
  </ul>
</section>
<section>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">People & Culture</h1></li>
    <li>
      <div class="col-md-6 col-sm-6 ">
        <p class="text-justify medium-font">
          We are passionate and strive to reflect the quality of our work with the products and services we render.
        </p>
        <p class="xl-font">
          " We believe that teamwork makes the dream work. "
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="text-justify medium-font">
          We're a bunch of young, experienced and enthusiastic professionals that respect each other's space and time, invavde into
          it at times, but always bring out the best in each other. We follow a flexible routine and everyone is expected to manage and
          deliver their repsponsibilities puctually. We also believe that there is no substitute for hard work.
        </p>
        <p class="text-justify medium-font">
          Besides war room conversations and constructive criticism, we accept all kinds of food and outings!
        </p>
      </div>
    </li>
  </ul>
</section>

<section id="team" class="ak-gray-bg">
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-gray-bg"></div>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Team</h1></li>
    <li class="midsize-container">
      <p class="text-center medium-font">We have a team of young, experienced, enthusiastic and intelligent anti-hacking professionals
        dedicated to keep our clients secure.
      </p>
    </li>
    <li id="team-members-zone" class="text-center">
      <ul>
        {% for member in site.data.members %}
        <li class="member-data-zone">
          <div class="member-pic-zone">
            <img src="{{member.gravatar}}" />
          </div>
          <div class="member-name">{{member.name}}</div>
          <div class="member-title gray-6">{{member.title}}</div>
          <ul class="social-icons">
            {% if member.linkedIn != null %}
            <li>
              <a href="{{member.linkedIn}}" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}

            {% if member.twitter != null %}
            <li>
              <a href="{{member.twiiter}}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}

            {% if member.email != null %}
            <li>
              <a href="{{member.email}}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}

            {% if member.www != null %}
            <li>
              <a href="{{member.www}}" target="_blank">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}

            {% if member.github != null %}
            <li>
              <a href="{{member.github}}" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}

            {% if member.facebook != null %}
            <li>
              <a href="{{member.facebook}}" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <br>
      <br>
      <p class="text-center">
        Write to us if you want to be the part of this journey.
      </p>
      <p class="text-center">
        <a href="mailto://team@appknox.com">team@appknox.com</a>
      </p>
  </ul>
</section>

<section>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Our Advisors</h1></li>
    <li class="midsize-container">
      <p class="text-center medium-font">
        Where we are today is the sum of every choice we’ve made. Our Advisors have been an integral part of those choices.
      </p>
    </li>
    <li id="advisors-zone" class="text-center">
      <ul>
        {% for advisor in site.data.advisors %}
        <li class="member-data-zone">
          <div class="member-pic-zone">
            <img src="{{advisor.imgLink}}" />
          </div>
          <div class="member-title">{{advisor.title}}</div>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</section>

<section id="press">
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Press</h1></li>
    <li class="midsize-container">
      <p class="text-center medium-font">
        We’ve been featured in
      </p>
    </li>
    <li id="advisors-zone" class="text-center">
      <ul class="text-center">
        {% for pressInfo in site.data.press %}
        <li class="member-data-zone">
          <div class="logo-pic-zone">
            <img src="{{pressInfo.imgLink}}" title="{{partner.title}}"/>
          </div>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <p class="text-center gray-8">Write to us at <a href="mailto://press@appknox.com">press@appknox.com</a></p>
    </li>
  </ul>
</section>

<section id="partners">
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Partners</h1></li>
    <li class="midsize-container">
      <p class="text-center medium-font">
        One great partnership with the right person can have an incredible impact on your business. We've had many…
      </p>
    </li>
    <li id="advisors-zone" class="text-center">
      <ul class="text-center">
        {% for partner in site.data.partners %}
        <li class="member-data-zone">
          <div class="logo-pic-zone">
            <img src="{{partner.imgLink}}" title="{{partner.title}}"/>
          </div>
        </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <p class="text-center gray-8">Write to us at  <a href="mailto://patner@appknox.comm">patner@appknox.com</a></p>
    </li>
  </ul>
</section>

<section id="supporters">
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <div class="horzr-sep-block ak-white-bg"></div>
  <ul class="container ak-container">
    <li><h1 class="text-center gray-5">Supported By</h1></li>
    <li id="supporters-zone" class="text-center">
      <ul class="text-center">
        {% for supporter in site.data.supporters %}
        <li class="member-data-zone">
          <div class="logo-pic-zone">
            <img src="{{supporter.imgLink}}" title="{{supporter.title}}"/>
          </div>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</section>
