---
layout: default
title: Appknox - Find Out Now
excerpt: More than 75% of mobile apps fail basic security checks. Is your app safe?
permalink: /find-out-now/
code: find-out-now
---
<section id="first-container">
  <div class="container" id="first-block">
      <div class="col-md-8">
        <h2 class="col-md-8 col-sm-12">{% t fon.basicSecurityChecks %} </h2>
        <p class="col-md-8 col-sm-12 gray-7">
          {% t fon.studyByGartner %}
        </p>
        <p class="col-md-8 col-sm-12 gray-7">
          {% t fon.areYouAware %}:
        </p>
        <ul class="col-md-8 col-sm-12 lp-list">
          <li>
              <img data-proofer-ignore src="/img/arrow_circled.svg" class="inblock img-icon" />
              <p class="inblock">{% t fon.pointUsToURL %}<p>
          </li>
          <li>
            <img data-proofer-ignore src="/img/magnifying.svg" class="inblock img-icon" />
            <p class="inblock">{% t fon.weWillVerify %}<p>
          </li>
          <li>
            <img data-proofer-ignore src="/img/desk-graph.svg" class="inblock img-icon" />
            <p class="inblock">
              {% t fon.emailSecurityRating %}
            <p>
          </li>
        </ul>
        <ul>
          <li class="col-md-10 col-sm-12 marginTop">
            <h3 class="red marginTop">{% t fon.worthMillions %}</h3>
          </li>
        </ul>
        <div class="clearfix"></div>
        <div  class="marginTop"></div>
      </div>
      <div class="col-md-4" id="lpForm1Container">
          <h3 class="red col-md-12 marginTop">{% t fon.findOut %}</h3>
          {% include landing_page_form_1.html %}
      </div>
    </div>
</section>

<section class="ak-gray-bg">
  <div class="container ak-container">
    <div class="gray-8 col-md-offset-2 col-md-8 text-center marginTop">
      "{% t fon.understandingOfSecurity %}"
    </div>
    <div class="small-font text-center col-md-12 marginTop">
      Viet Nguyen Tuan, Redmart
    </div>
  </div>
</section>

{% include client_list.html %}
