---
layout: default
title: Appknox - Get In Touch
excerpt: Appknox is a team within your team that ensures complete mobile security so that you can rest assured that your business is protected
permalink: /get-in-touch/
code: get-in-touch
---
<section id="first-container">
  <div class="container" id="first-block">
      <div class="col-md-8">
        <h2 class="col-md-8 col-sm-12">{% t git.worldClassSecurityTeam %}</h2>
        <p class="col-md-8 col-sm-12">
          {% t git.teamWithinTeam %}
        </p>
        <div class="col-md-10 col-sm-12 marginTop">
          <li id="home-video-zone" class="col-md-12 marginTop">
            <div id="video-aligner">
              <div id="video-wrapper">
                <div class="video-container">
                  <iframe width="854" height="480" src="https://www.youtube.com/embed/ZyKA6xRW7Jc?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="col-md-4" id="lpForm1Container">
          <h3 class="red col-md-12 marginTop">{% t git.getInTouch %}</h3>
          {% include landing_page_form_1.html %}
      </div>
  </div>
</section>
<section class="ak-gray-bg">
  <div class="container ak-container">
    <h2 class="red text-center">{% t git.zenAtWhatWeDo %}</h2>
    <div class="col-md-4 lp-col-content">
        <div class="title">{% t git.reducedSecurityCosts %}</div>
        <div class="desc-text gray-8">
          {% t git.reduceCost %}
        </div>
    </div>
    <div class="col-md-4 lp-col-content">
        <div class="title">{% t git.higherROI %}</div>
        <div class="desc-text gray-8">
          {% t git.fasterAppTestingCycle %}
        </div>
    </div>
    <div class="col-md-4 lp-col-content">
        <div class="title">{% t git.proactiveAttitude %}</div>
        <div class="desc-text gray-8">
          {% t git.dataIsAlwaysProtected %}
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container ak-container">
    <h2 class="red text-center">{% t git.achievedZen %}</h2>
    <div class="col-md-6 lp-col-content">
      <div class="gray-8 text-center marginTop">
        "{% t git.understandingOfSecurity %}"
      </div>
      <div class="small-font text-center col-md-12 marginTop">
        Viet Nguyen Tuan,  Redmart
      </div>
    </div>
    <div class="col-md-6 lp-col-content">
      <div class="gray-8 text-center marginTop">
        "{% t git.appknoxHelpedUsScan %}"
      </div>
      <div class="small-font text-center col-md-12 marginTop">
        Neeraj Kumar, DronaHQ
      </div>
    </div>
  </div>
</section>

{% include client_list.html class="ak-gray-bg" %}
