---
layout: default
title: Appknox - Mobile App Security Testing
excerpt: Appknox is a mobile app security testing solution to detect and fix vulnerabilities in mobile apps using a combination of automated and manual tests.
---

{% translate_file index/slider.html %}

<section>
  <div class="col-md-offset-9 banner-top">
    <img src="/img/appgrader/new_home-09.png" class="img-responsive" alt="New Home" />
  </div>
  <div class="banner-main-section">
    <div class="row grader-row">
      <div class="col-md-5 ak-appgrader-green-darker">
        <div class="col-md-2 free-shield">
          <img src="/img/appgrader/free-shield.png" class="center-block" alt="Free Shield" />
        </div>
        <div class="col-md-10 shield-text">
          <div class="shield-main-text">Get started with FREE Appknox AppGrader</div>
          <p class="shield-sub-text">Take control of your app before someone else does</p>
        </div>
      </div>
      <div class="col-md-3 grader-logo ak-appgrader-green-bg">
        <img src="/img/appgrader/logo-and-text.png" class="center-block img-responsive" alt="Appknox AppGrader Logo" />
      </div>
      <div class="col-md-4 ak-appgrader-green-dark">
           <a class="btn-lg try-now-button" href="/app-grader/" target="_blank"><span class="try-now-text">TRY NOW</span></a>
      </div>
    </div>
  </div>
</section>

<a name="Detections"></a>

<section id="ak-radar-zone" class="ak-gray-bg">
  <div class="container radar-container">
    <ul class="half-block-container">
      <li id="radar-img-zone" class="text-center col-md-4 col-sm-4">
        <img id="ak-dotted-circle" src="/img/asset-06.svg" alt="Mobile app security testing" />
        <img id="ak-cellphone-14" src="/img/asset-07.svg" alt="Mobile app security testing" />
      </li>
      <li id="radar-text" class="col-md-8">
        <h3 id="head-txt-14" class=" col-md-10 col-sm-8 text-left gray-6">
          Enabling Bussinesses to Achieve
        </h3>
        <h3 class="col-md-12 radar-animate">
          <span id="radar-list-block" class="red bordered-bottom">
            <span class="ak-vert-animate-ele">faster time to market</span>
            <span class="ak-vert-animate-ele">higher productivity</span>
            <span class="ak-vert-animate-ele">complete mobile security</span>
          </span>
        </h3>
        <h4 class="col-md-12 radar-desc">
          Appknox detects &amp; addresses vulnerabilities in mobile apps within minutes
        </h4>
      </li>
    </ul>
    <div class="button-container">
      <div class="call-button btn-lg ak-btn-round uppercase inblock" id="callphone">CALL NOW</div>
    </div>
  </div>
</section>

{% include client_list.html %}

<a name="HowWeDo"></a>

<section class="ak-gray-bg slider-container">
  <div>
    <h1 class=" text-center">Mobile App Security Testing Made Simple</h1>
    <div class="text-center">
      <span class="video-desc">Harness the power of a personalized dashboard to create projects and effectively manage threats.</span>
    </div>
    <div class="carousel carousel-slider" id="myCarousel1">
      <div class="slides slide-show">
        <div class="slideItem">
          <img src="/img/slides/Slide-1.jpg" alt="slider image" class="sliders"/>
        </div>
        <div class="slideItem">
          <img src="/img/slides/Slide-2.jpg" alt="slider image" class="sliders"/>
        </div>
        <div class="slideItem">
          <img src="/img/slides/Slide-3.jpg" alt="slider image" class="sliders"/>
        </div>
        <div class="slideItem">
          <img src="/img/slides/Slide-4.jpg" alt="slider image" class="sliders"/>
        </div>
        <div class="slideItem">
          <img src="/img/slides/Slide-5.jpg" alt="slider image" class="sliders"/>
        </div>
        <div class="slideItem">
          <img src="/img/slides/Slide-6.jpg" alt="slider image" class="sliders"/>
        </div>
      </div>
  	</div>
    <div id="myCarousel" class="carousel slide sec-slider" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-spots">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner slide-show">
      <div class="item active">
        <img src="/img/slides/dashboard-slide-1.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

      <div class="item">
        <img src="/img/slides/dashboard-slide-2.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

      <div class="item">
      <img src="/img/slides/dashboard-slide-3.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

      <div class="item">
      <img src="/img/slides/dashboard-slide-4.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

      <div class="item">
      <img src="/img/slides/dashboard-slide-5.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

      <div class="item">
      <img src="/img/slides/dashboard-slide-6.jpg" alt="slider image" class="sliders img-responsive"/>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <div class="text-center">
    <p class="level-header">Our integrated mobile app security testing solution tests your app through three detailed security assessments via one simple dashboard</p>
  </div>
</section>


<section>
  <h1 class="text-center gray-8">Appknox Approach To Mobile App Security Testing</h1>
  <div class="ak-container level-container">
    <div class="row">
      <div class="sast-section">
        <div class="col-md-6">
          <div class="level-numbers">
            1
          </div>
          <div class="level-heading displayInline positionTop margin-top-reduce">
            SAST
          </div>
          <div class="level-fullform pull-right-side">
            Static Application Security Testing
          </div>
          <div class="level-feat marginTopIncrease pull-right-side">
            Fully Automated | Basic Configuration Issues
          </div>
          <div class="level-desc pull-right-side">
            A fully automated scan designed to analyze application binaries for issues in code and design configurations that can lead to security vulnerabilities.
          </div>
          <div class="know-more-text marginTop pull-right-side">
            <a href="/static-application-security-testing" data-proofer-ignore> Know more > </a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="level-images level-images-pos" src="/img/img-02.png" alt="Static application security testing">
        </div>
      </div>

      <div class="dast-section level-section">
        <div class="col-md-7">
          <img class="level-images level-images-pos1" src="/img/img-03.gif" alt="Dynamic application security testing">
        </div>
        <div class="col-md-5">
          <div class="level-numbers">
            2
          </div>
          <div class="level-heading displayInline positionTop margin-top-reduce">
            DAST
          </div>
          <div class="level-fullform pull-right-side">
            Dynamic Application Security Testing
          </div>
          <div class="level-feat marginTopIncrease pull-right-side">
            Cloud Hosted Device | Realtime Testing
          </div>
          <div class="level-desc pull-right-side">
            Your team interacts with your application installed on our cloud
            hosted devices while we diagnose leakages using proprietary data
            flow algorithms for an automated real-time testing.
          </div>
          <div class="know-more-text marginTop pull-right-side">
            <a href="/dynamic-application-security-testing" data-proofer-ignore> Know more > </a>
          </div>
        </div>
      </div>

      <div class="uba-section level-section">
        <div class="col-md-6">
          <div class="level-numbers">
            3
          </div>
          <div class="level-heading displayInline positionTop margin-top-reduce">
            MAST
          </div>
          <div class="level-fullform pull-right-side">
            Manual Application Security Testing
          </div>
          <div class="level-feat marginTopIncrease pull-right-side">
            Manual Assessment | Industry Renowned Ethical Hackers for You!
          </div>
          <div class="level-desc pull-right-side">
            Nothing can outdo human creativity, and so we deploy our
            industry renowned ethical hackers to perform a deeper manual
            assessment to catch the hidden bugs and to ensure you and your
            business are secured from hacks.
          </div>
          <div class="know-more-text marginTop pull-right-side">
            <a href="/manual-application-security-testing" data-proofer-ignore> Know more > </a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="level-images level-images-pos" src="/img/img-04.png" alt="Manual application security testing">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section reduce-padding">
  <div class="container ak-container text-center">
    <div class="why-appknox">
      <h2>Why Appknox?</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="image-container">
          <img src="/img/img-05.png" alt="Mobile application security team">
        </div>
        <div class="pull-down-side">
          <div class="level-heading">
            Always By Your Side
          </div>
          <div class="level-feat">
            A reliable team within your team
          </div>
          <div class="level-desc">
            Appknox boasts of an arsenal of the industry’s
            leading security researchers who ensure you
            have peace of mind with a state of the art security
            solution that uses a system plus human approach to
            ensure total security.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-container">
          <img src="/img/img-06.png" alt="Appknox Mobile App Security Dashboard">
        </div>
        <div class="pull-down-side">
          <div class="level-heading">
            Reporting Dashboard
          </div>
          <div class="level-feat">
            Know what is happening to your app
          </div>
          <div class="level-desc">
            Our dashboard makes it simple for you and your team to
            monitor and control your security process;
            get notified about all events and get real-time
            status updates for the scans in progress.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image-container">
          <img src="/img/img-07.png" alt="Benefit of mobile app security testing">
        </div>
        <div class="pull-down-side">
          <div class="level-heading">
            Stay a Champ
          </div>
          <div class="level-feat">
            Higher ROI To Your Business
          </div>
          <div class="level-desc">
            Increase your team’s productivity using our 360
            degree mobile security solution with faster on
            boarding, easy switch on and switch off business model,
            ensuring faster releases for your mobile apps without compromising on security.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ak-gray-bg">
  <div class="container ak-container ak-testimony text-center">
    <h1 class="">What Our Users Say</h1>

    <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators carousel-spots">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner testimonial-section" role="listbox">
        <div class="item active">
          <div class="user-comments">
            The Appknox team has a deep understanding of security standards in mobile platforms. They are efficient and responsive in addressing any security problems we have.
          </div>
          <div class="client-logo">
            <img src="/img/testimonials-27.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign">
            Viet Nguyen Tuan
          </div>
        </div>
        <div class="item">
          <div class="user-comments">
            Appknox helped us scan our app thoroughly. They also tagged a security researcher who helped us understand all our issues, clarify our doubts and suggested appropriate solutions to fix them.
          </div>
          <div class="client-logo logo-pos">
            <img src="/img/dronahq.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign sign-pos">
            Neeraj Kumar
          </div>
        </div>
        <div class="item">
          <div class="user-comments">
            Appknox helped us find some really interesting security loopholes and also helped us to fix it.
          </div>
          <div class="client-logo logo-pos">
            <img src="/img/bigbasket.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign sign-pos">
            Hari Palappetty
          </div>
        </div>
        <div class="item">
          <div class="user-comments">
            I like the detailed analysis along with code snippet that potentially leads to a problem. The turnaround time from app submission to report generation is quick which helps us to identify problem in our product and enables us to address it quickly.
          </div>
          <div class="client-logo logo-pos">
            <img src="/img/hooqtv.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign sign-pos">
            Dwi Sasongko Supriyadi
          </div>
        </div>
        <div class="item">
          <div class="user-comments">
            Being a team which keeps security &amp; privacy of the users at its core, our association with Appknox has helped us a great deal. They have a very proficient &amp; knowledgeable team who are extremely supportive with quick turn around times. Its been a pleasure working in tandem with them to figure out how do we make our applications better and even more safe. Overall, we must say we are extremely happy.
          </div>
          <div class="client-logo logo-pos last-logo">
            <img src="/img/chillr.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign last-sign">
            Sunil Kumar
          </div>
        </div>
        <div class="item">
          <div class="user-comments">
            Being a pentester in this industry dealing with many clients and vendors, I must say Appknox is one of the best security vendors I have engaged with. They are up-to-date when it comes to quality and timely delivery. I highly recommend Appknox for your next application security.
          </div>
          <div class="client-logo logo-pos last-logo">
            <img src="/img/zebpay.png" alt="Appknox clients"/>
          </div>
          <div class="client-sign last-sign">
            Chintan Gurjar
          </div>
        </div>
      </div>

      <!-- Controls -->

      <a class="left carousel-control carousel-button carousel-prev" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control carousel-button carousel-next" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span></a>
    </div>
  </div>
</section>

<a name="Vulnerabilities"></a>

<section>
  <div class="container text-center">
    <h3 class="gills-24 gray-8">Detected vulnerabilities in</h3>
    <ul class="logos-box">
      <li>
        <img src="/img/google-logo.png" alt="Appknox google" />
      </li>
      <li>
        <img src="/img/facebook.png" alt="Appknox facebook" />
      </li>
      <li>
        <img src="/img/microsoft.png" alt="Appknox microsoft" />
      </li>
      <li>
        <img src="/img/paypal.png" alt="Appknox paypal" />
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="container text-center">
    <h2>Awards</h2>
    <ul id="awards-box">
      {% for award in site.data.awards %}
        <li class="col-md-4 col-sm-6">
          <a class="awards-image menubar">
            <img src="{{award.image}}" alt="{{award.alt}}">
          </a>
          <h3 class="gray-5">{{award.heading}}</h3>
          <h4 class="gray-5">{{award.subheading}}</h4>
          <div class="awards-details">
            <div class="award-time  gray-a">{{award.year}}</div>
          </div>
        </li>
      {% endfor %}
      <li class="clearfix"></li>
    </ul>
  </div>
</section>

<script>
  mixpanel.track("Visited Appknox");
</script>
