---
layout: default
title: Appknox - Press Mentions
excerpt: Appknox has been recognized at various places. Write to us at press@appknox.com
permalink: /press/
---

<section class="press-container">
<div class="container">
  <div class="press-heading">
    Press Mentions
  </div>
    <div class="row">
      <nav class="col-sm-3 navbar-side" id="myScrollspy">
        <ul class="nav navbar-sidesec nav-pills nav-stacked">
          <li class="active"><a href="#2016">2016</a></li>
          <li><a href="#2015">2015</a></li>
          <li><a href="#2014">2014</a></li>
          <li><a href="#2012">2012</a></li>
        </ul>
      </nav>
        <hr class="horz-splitting">
        <div class="col-xs-8 press-content main-container other-section section-collapse" id=2016>
            {% for press in site.data.press_data.six %}
            <div class="row">
                <div class="col-xs-3 press-collapse">
                  <div class="">
                    <div class="">
                      <div class="date-section">{{press.date}}</div>
                        <img class="press-logo" src="{{press.logo}}" alt="Appknox news" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-9 press-collapse">
                  <div class="press-mention">
                    <blockquote class="block-section">
                      <a data-proofer-ignore href="{{press.link}}" target="_blank">
                        <div class="press-title">{{press.title}}</div>
                      </a>
                      <div class="press-desc">{{press.desc}}</div>
                    </blockquote>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-xs-8 press-content main-container other-section section-collapse" id=2015>
            {% for press in site.data.press_data.five %}
            <div class="row">
                <div class="col-xs-3 press-collapse">
                  <div class="">
                    <div class="">
                      <div class="date-section">{{press.date}}</div>
                        <img class="press-logo" src="{{press.logo}}" alt="Appknox news" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-9 press-collapse">
                  <div class="press-mention">
                    <blockquote class="block-section">
                      <a data-proofer-ignore href="{{press.link}}" target="_blank">
                        <div class="press-title">{{press.title}}</div>
                      </a>
                      <div class="press-desc">{{press.desc}}</div>
                    </blockquote>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-xs-8 press-content main-container other-section section-collapse" id=2014>
            {% for press in site.data.press_data.four %}
            <div class="row">
                <div class="col-xs-3 press-collapse">
                  <div class="">
                    <div class="">
                      <div class="date-section">{{press.date}}</div>
                        <img class="press-logo" src="{{press.logo}}" alt="Appknox news" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-9 press-collapse">
                  <div class="press-mention">
                    <blockquote class="block-section">
                      <a data-proofer-ignore href="{{press.link}}" target="_blank">
                        <div class="press-title">{{press.title}}</div>
                      </a>
                      <div class="press-desc">{{press.desc}}</div>
                    </blockquote>
                  </div>
                </div>
            </div>
            {% endfor %}
            <div class="stop-section"></div>
        </div>
        <div class="col-xs-8 press-content main-container other-section section-collapse" id=2012>
            {% for press in site.data.press_data.two %}
            <div class="row">
                <div class="col-xs-3 press-collapse">
                  <div class="">
                    <div class="">
                      <div class="date-section">{{press.date}}</div>
                        <img class="press-logo" src="{{press.logo}}" alt="Appknox news" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-9 press-collapse">
                  <div class="press-mention">
                    <blockquote class="block-section">
                      <a data-proofer-ignore href="{{press.link}}" target="_blank">
                        <div class="press-title">{{press.title}}</div>
                      </a>
                      <div class="press-desc">{{press.desc}}</div>
                    </blockquote>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>
