---
layout: default
title: Appknox - Pricing
excerpt: Sign up now for complete mobile security with flexible plans and anytime cancellation
permalink: /pricing/
---
<section id="first-container">
  <div class="text-center">
    <h2 class="pricing-heading"> Unlimited Scans For Everyone </h2>
    <p class="pricing-tagline">Flexible Cancellation &nbsp;&nbsp;|&nbsp;&nbsp; Proactive Support</p>
  </div>
</section>
<section class="plan-type">
  <div class="text-center">
    <div class="btn-group">
      <button class="btn active plan-btn-round month blue" id="monthly"  data-target="#collapsible">MONTHLY</button>
      <button class="btn plan-btn-round year" id="yearly" data-toggle="collapse" data-target="#collapsible">YEARLY</button>
    </div>
    <div class="saving-text">Save With Yearly Subscription</div>
  </div>
</section>
  <p class="pricing-desc text-center">All prices are per App<sup>*</sup> </p>
<section class="pricing-zone">
  <div class="container text-center">
    <ul id="pricingZoneBox">
      {% for plan in site.data.pricingplans %}
      <section>
      <li class="col-md-3 plan-section">
        <div class="pricing-col-head col-head-line">

          <img src="{{plan.pricingplan.plan.img}}" alt="{{plan.pricingplan.plan.alt}}" />
        </div>
        <div class="platform-type plan-top-line">
        {{plan.pricingplan.planTitle}}<br>
        <img src="{{plan.pricingplan.pricings.img}}" alt="{{plan.pricingplan.pricings.alt}}" />
        </div>
        {% include scan_list.html %}
        <table class="scan-benifits">
          <tr>
            <td>{{plan.pricingplan.firstScan.name}}</td>
            <td>{{plan.pricingplan.firstScan.desc}}</td>
          </tr>
          <tr>
            <td>{{plan.pricingplan.secondScan.name}}</td>
            <td>{{plan.pricingplan.secondScan.desc}}</td>
          </tr>
          <tr>
            <td>{{plan.pricingplan.thirdScan.name}}</td>
            <td>{{plan.pricingplan.thirdScan.desc}}</td>
          </tr>
        </table>
        <div class="plan-bottom-line monthly-plan">{{plan.pricingplan.pricing.monthly}}</div>
        <div class="plan-bottom-line yearly-plan" style="display:none;">{{plan.pricingplan.pricing.yearly}}</div>
        <div class="yearly-saving hide-savings">{{plan.pricingplan.pricing.savings}}</div>
        <div class="request-button btn-lg ak-btn-round uppercase inblock pricing-demo letter-spacing" href="{{plan.pricingplan.link}}">Request Demo</div>
      </li>
      </section>
        {% endfor %}
        <section>
            <li class="col-md-3 plan-section">
              <div class="pricing-col-head col-head-line">
                <img src="/img/plans-25.png" alt="Appknox Enterprise Plan" />
              </div>
              <div class="platform-type plan-top-line black-line">
              Dedicated Infrastructure<br>
              <table class="enterprise-features">
                <tr>
                  <td>Multiple <span class="black-font">Teams</span></td>
                </tr>
                <tr>
                  <td>Multiple <span class="black-font">Projects</span></td>
                </tr>
                <tr>
                  <td>Multiple <span class="black-font">Platforms</span></td>
                </tr>
              </table>
              </div>
              <table class="scan-list enterprise-list">
                <tr>
                  <td>SAST (Static)</td>
                  <td class="check-26"></td>
                </tr>
                <tr>
                  <td>DAST (Dynamic)</td>
                  <td class="check-26"></td>
                </tr>
                <tr>
                  <td>On Premise Deployment</td>
                  <td class="check-26"></td>
                </tr>
                <tr>
                  <td>Private Secure Cloud</td>
                  <td class="check-26"></td>
                </tr>
              </table>
              <table class="scan-enter">
                <tr>
                  <td>Dedicated Account Manager</td>
                </tr>
                <tr>
                  <td>Dedicated Security Researcher</td>
                </tr>
              </table>
              <div class="request-button btn-lg ak-btn-round uppercase inblock pricing-demo letter-spacing" href="https://try.appknox.com/demo-enterprise">Get In Touch</div>
            </li>
          </section>


          <li class="clearfix"></li>
    </ul>
    <ul class="marginTop">
        <li class="xs-font gray-a text-center">For any queries regarding pricing, reach us at - <a class="gray-7" href="mailto:pricing@appknox.com">pricing@appknox.com</a></li>
    </ul>
  </div>
</section>
<section class="margin-reduce">
  <div class="text-center">
    <h1 class="pricing-heading">Testimonials</h1>
    <div class="container">
      <ul id="testimony-container">
        <li class="col-md-6">
          <div class="testimony-client">
            <img src="/img/testimonials-27.png" alt="Appknox Testimonials" />
          </div>
          <div class="user-opinion gills-19">
          <q>The Appknox team has a deep understanding of security standards in mobile platforms. They are efficient and responsive in addressing any security problems we have.</q>
          </div>
          <div class="client-name gills-14">
            Viet Nguyen Tuan
          </div>
        </li>
        <li class="col-md-6">
          <div class="testimony-client">
            <img src="/img/testimonials-28.png" alt="Appknox Testimonials" />
          </div>
          <div class="user-opinion gills-19">
            <q>Appknox helped us find our security related vulnerabilities. I am fully satisfied and would recommend Appknox.</q>
          </div>
          <div class="client-name gills-14">
           Nitin Gautam
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
    <div class="container ak-container" id="faq">
        <h1 class="text-center pricing-heading">FAQs</h1>
        <div class="horzr-sep-block ak-white-bg"></div>
        <div class="horzr-sep-block ak-white-bg"></div>
        <ul>
          <li class="col-md-offset-1 col-md-5 gills-19">
            {% for faq in site.data.faqs.left_faq %}
            <div class="faq-region">
              <div class="faq-quest-area">
                  <i class="fa fa-caret-right faqArrow" aria-hidden="true"></i>
                  <span class="faq-quest">{{faq.question}}</span>
              </div>
              <div class="faq-answer">
                {{faq.answer}}
              </div>
            </div>
            {% endfor %}
          </li>
          <li class="col-md-offset-1 col-md-5 gills-19">
            {% for faq in site.data.faqs.right_faq %}
            <div class="faq-region">
              <div class="faq-quest-area">
                  <i class="fa fa-caret-right faqArrow" aria-hidden="true"></i>
                  <span class="faq-quest">{{faq.question}}</span>
              </div>
              <div class="faq-answer">
                {{faq.answer}}
              </div>
            </div>
            {% endfor %}
          </li>
        </ul>
      </div>
  </section>
