---
layout: default
title: Appknox - Mobile App Security Testing
excerpt: Appknox is a mobile app security testing solution to detect and fix vulnerabilities in mobile apps using a combination of automated and manual tests.
permalink: /register-wework/
---

{% capture campaign_note %}
  <div class="campaign-circle">
    <h2 class="campaign-text">
      Appknox is moving to
       <img class="campaign-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/WeWork.svg/200px-WeWork.svg.png" alt="wework logo">
    </h2>
  </div>
{% endcapture %}

<section class="background-register-wework">
  <div class="register-container register-container-wework">
    <div class="col-lg-12 main-reg-container main-reg-container-wework">
      {% include register/campaign.html campaign_note=campaign_note %}
      {% include register/form.html campaign_id="wework" %}
    </div>
  </div>
</section>
