---
layout: default
title: Resources
excerpt: Appknox detects & addresses vulnerabilities in mobile apps enabling businesses achieve faster time to market higher productivity 360° mobile security
permalink: /resources/
---
<section id="first-container" class="bg-red">
  <div class="container text-center " id="resource-page">
    <div class="col-md-12" id="resources-header">
      <p>
          <h1 class="text-center">
            <div class="text-breaker white">Learn More About Security</div>
          </h1>
      </p>
      <div class="text-breaker text-center white"> Access our meticolusly compiled in house reports on mobile app security.</div>
    </div>
  </div>
</section>
<section id="resources-zone">
  <div class="resource-sublinks resource-sublinks-inner text-center gillsans">
    <a href="/resources/#all" class="hashMenu" data-id="all" id="res-in-all">All</a>
    {% for type in site.data.resource_types%}
      <a href="/resources/#{{type.name | downcase}}" class="hashMenu" data-id="{{type.name | downcase}}" id="res-in-{{type.name | downcase}}">{{type.name}}</a>
    {% endfor %}
  </div>
  <ul class="container ak-container resource-block-zone">
    {% for resource in site.data.resources%}
    <li class="col-md-3 col-sm-4 resource res-{{resource.category | downcase}}">
      <section class="resource-tile">
        <ul class="resource-head neosans">
          <li class="resource-type pull-left">{{resource.type}}</li>
          <li class="resource-download pull-right gray-9">
            <a href="{{resource.downloadLink}}" target="_blank"><i class="fa fa-icon fa-cloud-download gray-9" area-hidden="true"></i></a>
          </li>
        </ul>
        <div class="resource-image-block">
          <img src="{{resource.img}}" />
        </div>
        <!--<div class="resource-info small-font gray-9">
          <span class="author">Hardeep Singh</span>
          <span class="publish-date">23 Sep, 15</span>
        </div>-->
        <div class="resource-title">
         <h4>  {{resource.name}} </h4>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
  <div class="clearfix"></div>
</section>
