---
layout: default
title: Appknox - Resources
excerpt: Access our meticolously compiled in-house reports on mobile app security
permalink: /resources/
---
<section id="first-container" class="bg-red">
  <div class="container text-center " id="resource-page">
    <div class="col-md-12" id="resources-header">
      <h1 class="text-center">
        <div class="text-breaker white">{% t resources.learnMore %}</div>
      </h1>
      <div class="text-breaker text-center white">{% t resources.accessReport %}</div>
    </div>
  </div>
</section>
<section id="resources-zone">
  <div class="resource-sublinks resource-sublinks-inner text-center gillsans">
    <a href="/resources/#all" class="hashMenu menubar" data-id="all" data-proofer-ignore>{% t resources.all %}</a>
    {% for type in site.data.resource_types%}
      <a href="/resources/#{{type.name | downcase}}" class="hashMenu menubar" data-id="{{type.name | downcase}}" data-proofer-ignore>{% t resources.{{type.name}} %}</a>
    {% endfor %}
  </div>
  <ul class="container ak-container resource-block-zone">
    {% for resource in site.data.resources%}
    <li class="col-md-3 col-sm-4 resource res-{{resource.category | downcase}}">
      <section class="resource-tile">
        <ul class="resource-head neosans">
          <li class="resource-type pull-left">{{resource.type}}</li>
          <li class="resource-download pull-right gray-9">
            <a href="{{resource.downloadLink}}" class="various"></a>
          </li>
        </ul>

        <div class="resource-image-block various pointer" href="{{resource.downloadLink}}" >
        <a class="menubar landing-page" href="{{resource.downloadLink}}">
          <img src="{{resource.img}}" alt="{{resource.name}}"/>
        </a>
        </div>
        <div class="resource-title">
         <h4>  {{resource.name}} </h4>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
  <div class="clearfix"></div>
</section>
