<section class="award-top-container ak-gray-bg">
  <div class="award-banner">
    <div class="row">
      <div class="col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-0 col-sm-1 col-xs-2">
        <img src="/img/awards/winner.png" alt="enterprise security" class="img-responsive"/>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 esm-logo">
        <img src="/img/awards/esm.png" alt="enterprise security" class="img-responsive"/>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 award-text">
        Voted
        <a class="hyper-link red-text" target="_blank" href="https://www.enterprisesecuritymag.com/vendors/top-vulnerability-management-solution-providers-2018.html"
          <span>Top 10 Vulnerability Management Solution Providers</span>
        </a>
        in 2018
      </div>
    </div>
  </div>
</section>
