<footer class="site-footer">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav navbar-nav footer-nav">
        <li><a href="/pricing/#faq" class="submenu footer-menu-white">FAQs</a></li>
        <li><a href="https://github.com/appknox/careers" class="submenu footer-menu-white">Careers</a></li>
        <li><a href="https://blog.appknox.com" class="submenu footer-menu-grey">Blog</a></li>
        <li><a href="/pricing" class="submenu footer-menu-grey">Pricing</a></li>
        <li><a href="/resources" class="submenu footer-menu-grey">Resources</a></li>
        <li><a href="/company/#team" class="submenu footer-menu-grey">Team</a></li>
        <li><a href="/contact" class="submenu footer-menu-grey">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-12 footer-section2">
      <div class="col-md-8">
        <div class="col-md-12">
          <div class="col-md-3">
            <h4 class="update-text"> UPDATES </h4>
          </div>
          <div class="col-md-3">
            <div class="subscribe-button btn-lg ak-btn-round uppercase inblock">
              SUBSCRIBE
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-5 footer-box">
              <a>Security company to aid faster
              growth for StartUps</a>
            </div>
            <div class="col-md-5 footer-box">
              <a>XYSec Labs Launches Devknox</a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-5 footer-box">
              <a>Appknox at the Adobe Symosium</a>
            </div>
            <div class="col-md-5 footer-box">
              <a>Appknox Event for Security tomorrow</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 address-section">
        <div class="col-md-6 company-address">
          <div class="company-name">XYSec Labs Pvt. Ltd.</div>
        </div>
        <div class="col-md-6 company-address">
          <ul class="office-address">
            <li class="address-heading">Singapore HQ</li>
            <li>79 Ayer Rajah Crescent</li>
            <li>#04-09 Singapore 139951</li>
            <li>Ph: +65 3158 5898</li>
          <ul>
        </div>
        <div class="col-md-6 company-address">
          <ul class="office-address">
            <li class="address-heading">India Development Center</li>
            <li>473, Shri Krishna Temple Rd</li>
            <li>Indiranagar, Bengaluru Karnataka </li>
            <li> 5600038 </li>
            <li>Ph: +91-9739320700</li>
          </ul>
        </div>
        <div class="col-md-6 company-address">
        <ul class="office-address">
          <li class="address-heading">U.S.</li>
          <li>#5213, 500 Race Street</li>
          <li>San Jose , CA 95126</li>
          <li>Ph: +1-669-252-6976</li>
         </ul>
        </div>
      </div>
    </div>
  </div>
</footer>




<div id="fancyboxAlert" style="display:none">

</div>

<div id="request-demo-box" class="gen-form text-center maxWidth450" style="display:none">
  <h3 class="neosans text-center bottom-border gray-5">Request Demo</h3>
  <div id="messageBoxDemo" class="neosans marginTop"> </div>
  <form id="request-demo-form" method="post" data-attr-submitted = "no">
    <fieldset class="form-group col-md-12">
      <div id="name-ds-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control placeholder-position" name="name" placeholder="Full Name (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="email-ds-error" class="cu-form-eorror red"></div>
      <input type="email" class="form-control placeholder-position" name="email" placeholder="Business Email (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="company-ds-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control placeholder-position" name="company" placeholder="Company (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="jobtitle-ds-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control placeholder-position" name="jobtitle" placeholder="Job Title (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="phone-ds-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control placeholder-tele" id="tele"  name="phone" placeholder="Phone Number">
    </fieldset>
    <div class="clearfix"></div>
    <div class="text-center">
      <input type="submit" id="demo-form-submit" class="marginTop button-red btn-lg ak-btn-round uppercase" value="Submit">
    </div>
  </form>
</div>

<div id="bulk-orders-box" class="gen-form text-center maxWidth450" style="display:none">
  <h3 class="neosans text-center bottom-border gray-5">Bulk Orders</h3>
  <div id="messageBoxBulk" class="neosans marginTop"> </div>
  <form id="bulk-order-form" method="post" data-attr-submitted = "no">
    <fieldset class="form-group col-md-12">
      <div id="name-bulk-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="name" placeholder="Full Name (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="email-bulk-error" class="cu-form-eorror red"></div>
      <input type="email" class="form-control" name="email" placeholder="Business Email (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="company-bulk-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="company" placeholder="Company (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="jobtitle-bulk-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="jobtitle" placeholder="Job Title (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="numapp-bulk-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="numapp" placeholder="Number of Apps (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="phone-bulk-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="phone" placeholder="Phone Number">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <textarea class="form-control" name="remarks" rows="4" cols="50"  placeholder="Remarks/Message"></textarea>
    </fieldset>

    <div class="clearfix"></div>
    <div class="text-center">
      <input type="submit" id="bulk-order-submit" class="marginTop button-red btn-lg ak-btn-round uppercase" value="Submit">
    </div>
  </form>
</div>

<div id="place-order-box" class="gen-form text-center maxWidth450" style="display:none">
  <h3 class="neosans text-center bottom-border gray-5">Place Order</h3>
  <div id="placeOrderMsgBox" class="neosans marginTop"> </div>
  <form id="place-order-form" method="post" data-attr-submitted = "no">
    <fieldset class="form-group col-md-12">
      <div id="name-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="name" placeholder="Full Name (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="email-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="email" class="form-control" name="email" placeholder="Business Email (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="company-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="company" placeholder="Company (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="jobtitle-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="jobtitle" placeholder="Job Title (Required)">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="appurl-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="url" class="form-control" name="appurl" placeholder="App URL">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <div id="phone-sumbit-order-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control" name="phone" placeholder="Phone Number">
    </fieldset>
    <fieldset class="form-group col-md-12">
      <textarea class="form-control" name="remarks" rows="4" cols="50"  placeholder="Remarks/Message"></textarea>
    </fieldset>
    <div class="clearfix"></div>
    <div class="text-center">
      <input type="submit" id="submit-order-button" class="marginTop button-red btn-lg ak-btn-round uppercase" value="Submit">
    </div>
  </form>
</div>

<div id="callphone-box" class="gen-form text-center maxWidth450" style="display:none">
  <h3 class="neosans text-center bottom-border gray-5">We'll Call You Right Away</h3>
  <div id="messageBoxCall" class="neosans marginTop"> </div>
  <div class="neosans marginTop"> </div>
  <form id="callbox-form" method="post" data-attr-submitted = "no">
    <fieldset class="form-group col-md-13">
      <div id="phone-call-error" class="cu-form-eorror red"></div>
      <input type="text" class="form-control telesg" id="visitorphone" name="phone" placeholder="Enter Your Phone Number">
    </fieldset>
    <div class="clearfix"></div>
    <div class="text-center">
      <input type="submit" id="CallForm-submit" class="marginTop button-red btn-lg ak-btn-round uppercase" value="Call Me">
    </div>
  </form>
</div>
