<section>
  <div class="col-md-offset-9 banner-top">
    <img src="/img/appgrader/new_home-09.png" class="img-responsive" alt="New Home" />
  </div>
  <div class="banner-main-section">
    <div class="row grader-row">
      <div class="col-md-8 ak-appgrader-green-darker">
        <div class="col-md-offset-1 col-md-2 free-shield">
          <img src="/img/appgrader/free-shield.png" class="center-block" alt="Free Shield" />
        </div>
        <div class="col-md-9 shield-text">
          <div>Discover <span class="red-text">the power of security automation</span></div>
          <div>that helps you achieve 75% faster time to market!</div>
        </div>
      </div>
      <div class="col-md-4 ak-appgrader-green-bg">
           <a class="btn-lg try-now-button" href="https://secure.appknox.com/register"><span class="try-now-text">FREE TRIAL</span></a>
      </div>
    </div>
  </div>
</section>
