<section>
  <div class="security-status-section">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
        <section class="security-status-text">
          <div class="neosans-36 red-text security-status-heading">Security Analysis of the Top 50 Shopping Apps in the US</div>
          <div class="gills-24 grey-text security-status-description">This white paper is conducted to help mcommerce businesses
            understand the status of mobile security in the US and the challenges ahead of them. With these insights, mcommerce
            businesses can work towards delivering a more secure shopping experience for all their customers.
          </div>
          <a href="https://try.appknox.com/mcommerce-security-report-usa" target="_blank" class="ak-ele-animate inslide-buttons pointer neosans submenu">
            <div class="text-breaker">
              <p class="uppercase">download free</p>
            </div>
          </a>
        </section>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 security-status-image-container">
        <section>
          <img src="/img/security-report.png" alt="Mobile application security" class="security-status-image" />
        </section>
      </div>
    </div>
  </div>
</section>
