{% strip %}
{% for member in include.members %}

    {% for link in member.links  %}
        {% assign words = link | split: 'https://twitter.com/' %}
        {% if words.size == 2 %}
            {% assign t_user = words|last %}
        {% endif %}
    {% endfor %}

    {% if t_user != '' %}
        {{member.name}} -- {{member.title}} -- @{{ t_user | strip | strip_newlines }}
    {% else %}
        {{member.name}} -- {{member.title}}
    {% endif %}

    {% assign t_user = '' %}


{% endfor %}
{% endstrip %}
