<section id="text-slider">
  <div class="container" id="ak-slide-zone">
    <ul id="ak-slide-container">
      <li></li>
      <li class="ak-slide">
        <div class="col-md-6 col-sm-6">
          <div>
            <h1 class="ak-ele-animate" data-init-css='{"margin-top":"10px","opacity":1}' data-appear-css='{"margin-top":"10px","opacity":1}' data-perish-css='{"opacity":0}' data-ak-anim-time="900">
              <div class="text-breaker"><span class="red-text">Appknox is on Gartner's list</span> of top mobile app security vendors</div>
            </h1>
            <div class="clearfix"></div>
            <p class="ak-ele-animate" data-init-css='{"marginTop":"20px","opacity":0.5}' data-appear-css='{"margin-top":"50px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
              Find out what got Appknox listed
            </p>
          </div>
          <div class="clearfix"></div>
          <a href="https://blog.appknox.com/gartners-list-mobile-app-security-testing-vendors/" target="_blank" class="ak-ele-animate inslide-buttons pointer neosans submenu" data-init-css='{"marginTop":"50px","opacity":0.5}' data-appear-css='{"margin-top":"80px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
            <div class="text-breaker">
              <p class="uppercase">learn more</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 slide-img-zone">
          <img src="/img/slides/top-slides/slider-3.png" class="ak-ele-animate" alt="Mobile application security" data-init-css='{"width":"50%","marginTop":"-10px","marginLeft":"0px","opacity":0.0}' data-appear-css='{"width":"90%","marginTop":"-30px","left":"0px","opacity":1}' data-perish-css='{"opacity":0,"top":"-60px"}' data-ak-anim-time="300">
        </div>
      </li>
      <li class="ak-slide">
        <div class="col-md-6 col-sm-6">
          <div>
            <h1 class="ak-ele-animate" data-init-css='{"margin-top":"10px","opacity":1}' data-appear-css='{"margin-top":"10px","opacity":1}' data-perish-css='{"opacity":0}' data-ak-anim-time="900">
              <div class="text-breaker">#1 Globally Trusted <span class="red-text">Mobile App Security Testing</span> Solution </div>
            </h1>
            <div class="clearfix"></div>
            <p class="ak-ele-animate" data-init-css='{"marginTop":"20px","opacity":0.5}' data-appear-css='{"margin-top":"50px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
              Voted top 10 vulnerability management solution provider in 2018
            </p>
          </div>
          <div class="clearfix"></div>
          <a href="https://www.enterprisesecuritymag.com/vendors/top-vulnerability-management-solution-providers-2018.html" target="_blank" class="ak-ele-animate inslide-buttons pointer neosans submenu" data-init-css='{"marginTop":"50px","opacity":0.5}' data-appear-css='{"margin-top":"80px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
            <div class="text-breaker">
              <p class="uppercase">Read Full Story</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 slide-img-zone">
          <img src="/img/slides/top-slides/slider-7.png" class="ak-ele-animate" alt="Mobile application security" data-init-css='{"width":"50%","marginTop":"60px","marginLeft":"0px","opacity":0.0}' data-appear-css='{"width":"90%","marginTop":"60px","left":"0px","opacity":1}' data-perish-css='{"opacity":0,"top":"-60px"}' data-ak-anim-time="300">
        </div>
      </li>
      <li class="ak-slide">
        <div class="col-md-6 col-sm-6">
          <div>
            <h1 class="ak-ele-animate" data-init-css='{"margin-top":"10px","opacity":1}' data-appear-css='{"margin-top":"10px","opacity":1}' data-perish-css='{"opacity":0}' data-ak-anim-time="900">
              <div class="text-breaker">Just <span class="red-text">Plug & Play</span> </div>
            </h1>
            <div class="clearfix"></div>
            <p class="ak-ele-animate" data-init-css='{"marginTop":"20px","opacity":0.5}' data-appear-css='{"margin-top":"50px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
              No complicated intergration, no restructure of strategy
            </p>
          </div>
          <div class="clearfix"></div>
          <a href="https://try.appknox.com/schedule-appknox-demo" target="_blank" class="ak-ele-animate inslide-buttons pointer neosans submenu" data-init-css='{"marginTop":"50px","opacity":0.5}' data-appear-css='{"margin-top":"80px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
            <div class="text-breaker">
              <p class="uppercase">Request Demo</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 slide-img-zone">
          <img src="/img/slides/top-slides/slider-9.png" class="ak-ele-animate" alt="Mobile application security" data-init-css='{"width":"50%","marginTop":"0px","marginLeft":"0px","opacity":0.0}' data-appear-css='{"width":"90%","marginTop":"0px","left":"0px","opacity":1}' data-perish-css='{"opacity":0,"top":"-60px"}' data-ak-anim-time="300">
        </div>
      </li>
      <li class="ak-slide">
        <div class="col-md-6 col-sm-6">
          <div>
            <h1 class="ak-ele-animate" data-init-css='{"margin-top":"10px","opacity":1}' data-appear-css='{"margin-top":"10px","opacity":1}' data-perish-css='{"opacity":0}' data-ak-anim-time="900">
              <div class="text-breaker"><span class="red-text">100+</span> Global Banking Apps Are Secured with Appknox</div>
            </h1>
            <div class="clearfix"></div>
            <p class="ak-ele-animate" data-init-css='{"marginTop":"20px","opacity":0.5}' data-appear-css='{"margin-top":"50px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
              Over 100 critical vulnerabilities detected and neutralized in major banking apps
            </p>
          </div>
          <div class="clearfix"></div>
          <a href="https://try.appknox.com/mobile-security-report-banking-apac" target="_blank" class="ak-ele-animate inslide-buttons pointer neosans submenu" data-init-css='{"marginTop":"50px","opacity":0.5}' data-appear-css='{"margin-top":"80px","opacity":1}' data-perish-css='{"opacity":0,"margin-top":0}' data-ak-anim-time="700">
            <div class="text-breaker">
              <p class="uppercase">Download Free Banking Report</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 slide-img-zone">
          <img src="/img/slides/top-slides/slider-8.png" class="ak-ele-animate" alt="Mobile application security" data-init-css='{"width":"50%","marginTop":"10px","marginLeft":"0px","opacity":0.0}' data-appear-css='{"width":"90%","marginTop":"10px","left":"0px","opacity":1}' data-perish-css='{"opacity":0,"top":"-60px"}' data-ak-anim-time="300">
        </div>
      </li>
      <li class="clearfix"></li>
    </ul>
    <div id="slide-jumper-sec" class="text-center">
      <div class="ak-jumper-block">
      </div>
    </div>
  </div>
</section>

{% include free-trial-banner.html %}

{% include security-status-section.html %}
