<div class="col-lg-8 col-md-8 left-container margin-top">
  <img src="/img/awards/gartner-image.jpg" alt="Appknox Gartner" class="img-responsive" />
  <div class="red-text font-size24px text-center margin-top">EXPERIENCE APPKNOX FOR FREE</div>
  <div class="gillsans font-size20px grey-colored-text margin-top">
    An award winning enterprise mobile app security solution that fits right
    into your security strategy. Try Appknox's automated Static, Dynamic,
    Manual & API Testing that include over 200+ test cases and industry
    compliances to secure your business's mobile applications from the inside out.
  </div>
</div>
